{% extends "pdfbase.html" %}
{% block content %}

    <div class="pagewrap page-10">
        <div class="pgname-number pgname-numberalgn pagination-style02">
            <div class="pgname-number-box">4</div>
            <div class="pgname-number-title">Recomendación
            <span class="pgname-sub-title">Comentarios Recomendación: Promotores</span>
        </div>
        </div>
        <div class="comments-section">
            <div class="promo-block">
                <div class="promo-content promo-content-success">
                    <h3 class="promo-title">PROMOTORES:</h3>
                    <p class="promo-text">¿Qué destacaría de la compañía?</p>
                </div>
            </div>
            <div class="row-group2">
                <div class="custom-col left-col">
                    <div class="comments-table_block">
                        <table class="comments-table">
                            <tbody>
                                <tr>
                                    <td><b>La gente / compañerismo / buen ambiente / calidad humana</b></td>
                                    <td class="text-right"><span class="badge badge-success">35%</span></td>
                                </tr>
                                <tr>
                                    <td><b>Buenas prestaciones / beneficios</b></td>
                                    <td class="text-right"><span class="badge badge-success">13%</span></td>
                                </tr>
                                <tr>
                                    <td><b>Comprensión / buen trato / valoran a trabajadores / buenos líderes</b></td>
                                    <td class="text-right"><span class="badge badge-success">12%</span></td>
                                </tr>
                                <tr>
                                    <td>Estabilidad laboral</td>
                                    <td class="text-right"><span class="badge badge-white">11%</span></td>
                                </tr>
                                <tr>
                                    <td>Compromiso con el trabajador / se preocupa de empleados / familias</td>
                                    <td class="text-right"><span class="badge badge-white">9%</span></td>
                                </tr>
                                <tr>
                                    <td>Empresa solvente / con futuro / fuerte</td>
                                    <td class="text-right"><span class="badge badge-white">8%</span></td>
                                </tr>
                                <tr>
                                    <td>Seriedad / profesionalidad</td>
                                    <td class="text-right"><span class="badge badge-white">7%</span></td>
                                </tr>
                                <tr>
                                    <td>Plan de carrera / posibilidad de promocionar</td>
                                    <td class="text-right"><span class="badge badge-white">7%</span></td>
                                </tr>
                                <tr>
                                    <td>Está bien / es una buena empresa</td>
                                    <td class="text-right"><span class="badge badge-white">6%</span></td>
                                </tr>
                                <tr>
                                    <td>Buenos salarios</td>
                                    <td class="text-right"><span class="badge badge-white">5%</span></td>
                                </tr>
                                <tr>
                                    <td>Seguridad</td>
                                    <td class="text-right"><span class="badge badge-white">4%</span></td>
                                </tr>
                                <tr>
                                    <td>Se trabaja bien / es un buen trabajo</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Buenos horarios / flexibilidad</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Puntualidad en los pagos</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Formación / aprendizaje</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                                <tr>
                                    <td>Buen lugar de trabajo</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                                <tr>
                                    <td>Buena organización / planificación</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="comments-counter">
                            <p class="comments-count_text">Base personas que han hecho comentarios: <strong>416</strong></p>
                        </div>
                    </div>
                </div>
                <div class="custom-col right-col">
                    <div class="comments-table_block">
                        <table class="comments-table">
                            <tbody>
                                <tr>
                                    <td>Siempre mejorando / afan por mejorar</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Orden y limpieza</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Tiene buenos medios / producción / avances tecnológicos</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Buena comunicación</td>
                                    <td class="text-right"><span class="badge badge-white">0.5%</span></td>
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="comments-boxes_block">
                        <div class="comments-box">
                            <div class="comments-box_content">
                                <p>Destacaría a mi modo de ver el buen ambiente que hay entre compañeros, el equipo humano que hay para sacar adelante el negocio</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/woman-avatar.svg" alt="Woman Avatar" class="avatar-img">
                            </div>
                        </div>
                        <div class="comments-box comments-box_right">
                            <div class="comments-box_content">
                                <p>Destacaría los beneficios proporcionados por la empresa, tales como: la entrega de leche para los hijos de los trabajadores, así mismo la entrega de bonos y las cajas corporativas en las festividades, por último y no menos importante el bus (…)</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/man-avatar.svg" alt="Man Avatar" class="avatar-img">
                            </div>
                        </div>
                        <div class="comments-box">
                            <div class="comments-box_content">
                                <p>Destacaría los beneficios proporcionados por la empresa, tales como: la entrega de leche para los hijos de los trabajadores, así mismo la entrega de bonos y las cajas corporativas en las festividades, por último y no menos importante el bus (…)</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/woman-avatar.svg" alt="Woman Avatar" class="avatar-img">
                            </div>
                        </div>
                    </div>

                    <div class="promo-note_block">
                        <div class="promo-note promo-note-success">
                            <p class="promo-note_text">Los <strong>promotores</strong> señalan principalmente el buen  ambiente laboral como motivo principal de recomendación, seguido de los beneficios y prestaciones recibidos y el buen trato procurado por la empresa y sus líderes.</p>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>

{% endblock %}


