{% extends "pdfbase.html" %}
{% block content %}

    <div class="pagewrap page-12">

        <div class="pgname-number pgname-numberalgn pagination-style02">
            <div class="pgname-number-box">4</div>
            <div class="pgname-number-title">Recomendación
            <span class="pgname-sub-title">Comentarios Recomendación: Detractores</span>
        </div>
        </div>
    
        <div class="comments-section">
            <div class="promo-block">
                <div class="promo-content promo-content-danger">
                    <h3 class="promo-title">DETRACTORES:</h3>
                    <p class="promo-text">¿Qué tendría que mejorar la compañía?</p>
                </div>
            </div>
            <div class="row-group2">
                <div class="custom-col left-col">
                    <div class="comments-table_block">
                        <table class="comments-table">
                            <tbody>
                                <tr>
                                    <td><b>Mejorar los salarios</b></td>
                                    <td class="text-right"><span class="badge badge-danger">35%</span></td>
                                </tr>
                                <tr>
                                    <td><b>Mejorar la organización / mejor gestión de tareas / reparto</b></td>
                                    <td class="text-right"><span class="badge badge-danger">13%</span></td>
                                </tr>
                                <tr>
                                    <td><b>Mas / mejor comunicación</b></td>
                                    <td class="text-right"><span class="badge badge-danger">12%</span></td>
                                </tr>
                                <tr>
                                    <td>Valorar / escuchar / motivar al trabajador</td>
                                    <td class="text-right"><span class="badge badge-white">11%</span></td>
                                </tr>
                                <tr>
                                    <td>Mas formación / capacitaciones</td>
                                    <td class="text-right"><span class="badge badge-white">9%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejorar el ambiente laboral / el compañerismo</td>
                                    <td class="text-right"><span class="badge badge-white">8%</span></td>
                                </tr>
                                <tr>
                                    <td>Plan de carrera / crecimiento personal</td>
                                    <td class="text-right"><span class="badge badge-white">7%</span></td>
                                </tr>
                                <tr>
                                    <td>Colaboracion /relacion entre sectores</td>
                                    <td class="text-right"><span class="badge badge-white">7%</span></td>
                                </tr>
                                <tr>
                                    <td>Estabilidad laboral / no contratos temporales / no ETT's</td>
                                    <td class="text-right"><span class="badge badge-white">6%</span></td>
                                </tr>
                                <tr>
                                    <td>Mayor definicion de tareas / objetivos claros</td>
                                    <td class="text-right"><span class="badge badge-white">5%</span></td>
                                </tr>
                                <tr>
                                    <td>Menos carga laboral</td>
                                    <td class="text-right"><span class="badge badge-white">4%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejorar horarios / mas flexibilidad</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejorar los recursos / las herramientas</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejorar los espacios / las instalaciones</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejorar la empresa / mas vision de negocio / de futuro</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                                <tr>
                                    <td>Mas primas / beneficios / incentivos</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                                <tr>
                                    <td>Igualdad / evitar favoritismos / no familiares</td>
                                    <td class="text-right"><span class="badge badge-white">2%</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="comments-counter">
                            <p class="comments-count_text">Base personas que han hecho comentarios: <strong>416</strong></p>
                        </div>
                    </div>
                </div>
                <div class="custom-col right-col">
                    <div class="comments-table_block">
                        <table class="comments-table">
                            <tbody>
                                <tr>
                                    <td>Conciliación vida personal y laboral</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Mejoras en general</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Mas transparencia / sinceridad</td>
                                    <td class="text-right"><span class="badge badge-white">1%</span></td>
                                </tr>
                                <tr>
                                    <td>Nada / esta bien</td>
                                    <td class="text-right"><span class="badge badge-white">0.5%</span></td>
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td class="text-right"><span class="badge badge-white">3%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="comments-boxes_block">
                        <div class="comments-box">
                            <div class="comments-box_content">
                                <p>Mejores condiciones salariales y beneficios al empleado (seguro médico pagado por la empresa, etc.)</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/woman-avatar.svg" alt="Woman Avatar" class="avatar-img">
                            </div>
                        </div>
                        <div class="comments-box comments-box_right">
                            <div class="comments-box_content">
                                <p>Mejorar procesos que permita organizar el trabajo de forma más eficiente y disponer de mayor tiempo de calidad para desarrollo de personas</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/man-avatar.svg" alt="Man Avatar" class="avatar-img">
                            </div>
                        </div>
                        <div class="comments-box">
                            <div class="comments-box_content">
                                <p>La comunicación entre las Áreas y principalmente a nivel Gerencia, y Jefaturas.</p>
                                <div class="angle-block"><img src="static/Informe_Clima/images/angle-down.svg" alt="angle image" class="angle-down"></div>
                            </div>
                            <div class="comment-avatar_block">
                                <img src="static/Informe_Clima/images/woman-avatar.svg" alt="Woman Avatar" class="avatar-img">
                            </div>
                        </div>
                    </div>

                    <div class="promo-note_block">
                        <div class="promo-note promo-note-danger">
                            <p class="promo-note_text">La sugerencia más repetida entre los <strong>detractores</strong> es la mejora de los salarios. En segundo lugar mencionan la organización y el trato al trabajador.</p>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    
    
    </div>

{% endblock %}
