{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-13">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">5</div>
        <div class="pgname-number-title">Aspectos evaluados: visión general
            <span class="pgname-sub-title">Ranking de satisfacción bloques</span>
        </div>
    </div>

    <!-- <h1 class="page-13-title">{{ title }}</h1>
    <p>{{ content }}</p>
    <img src="{{ image_path }}" alt="" /> -->

    <div class="pg-13-row">
        <div class="pg-13-col left">

            <ul class="temp-list">
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">1º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Pertenencia y compromiso</div>
                            <div class="temp-rgt-number">7,83</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">2º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Trabajo en equipo - compañeros</div>
                            <div class="temp-rgt-number">7,81</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">3º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Conciliación y diversidad</div>
                            <div class="temp-rgt-number">7,72</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">4º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Mi superior</div>
                            <div class="temp-rgt-number">7,45</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">5º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Condiciones lugar de trabajo</div>
                            <div class="temp-rgt-number">7,26</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">6º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Satisfacción en el puesto de trabajo</div>
                            <div class="temp-rgt-number">7,15</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">7º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Cultura y dirección</div>
                            <div class="temp-rgt-number">6,97</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">8º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Comunicación</div>
                            <div class="temp-rgt-number">6.55</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">9º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Formación y desarrollo profesional</div>
                            <div class="temp-rgt-number">6.36</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">10º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Reconocimiento</div>
                            <div class="temp-rgt-number">5.87</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pg-13-temp-note">Valoración media</div>
            <div class="pg-13-btm-note">
                <b>Escala utilizada:</b><br>
                5. Totalmente de acuerdo<br>
                4. De acuerdo<br>
                3. Ni de acuerdo ni desacuerdo<br>
                2. Desacuerdo<br>
                1. Totalmente en desacuerdo<br>
                Nota media escalada a 1-10 (Nota media x2)
            </div>

        </div>
        <div class="pg-13-col right">
            <ul class="page-ul-list pg-13">
                <li>
                    <span class="s-dot"></span>
                    <span><b>La valoración media global del clima laboral</b> en la compañía es de <b>7,10</b>. Una puntuación “notable” y muy <b>similar a la obtenida en 2014.</b></span>
                </li>
                <li>
                    <span class="s-dot"></span>
                    <span>Los bloques de <b>Pertenencia y compromiso</b> y <b>Trabajo en equipo</b> logran la <b>mayor satisfacción</b>, ambos con un 7,8 de nota media.</span>
                </li>
                <li>
                    <span class="s-dot"></span>
                    <span>En el otro extremo, con la <b>menor satisfacción</b>, se sitúan <b>Reconocimiento</b>, con una valoración media de 5,87, y <b>Formación y Desarrollo Profesional</b> con un 6,36.</span>
                </li>
            </ul>


            <div class="promedio-box">
                <div class="promedio-lft-col">
                    <div class="promedio-hero-text-row">
                        <div class="promedio-hero-text">7,10</div>
                        <div class="promedio-hero-subtext">Valoración global<br>(Promedio)</div>
                    </div>
                    <div class="promedio-sm-count-line"></div>
                    <div class="promedio-sm-count-row"><span>6,57</span> Valoración 2014</div>
                </div>
                <img class="promedio-avater" src="static/Informe_Clima/images/promedio-avater.svg" />
            </div>

        </div>
    </div>



</div>
{% endblock %}

