{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-06">

    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">3</div>
        <div class="pgname-number-title">Percepción
        <span class="pgname-sub-title">Definición eNPS</span>
    </div>
    </div>
    
    <div class="pg-06-row">

        <ul class="page-ul-list pg-06">
            <li>
                <span class="s-dot"></span>
                <span>Los conceptos que más relacionan los empleados con la compañía son: <b>Calidad de producto y Orientación al cliente.</b></span>
            </li>
            <li>
                <span class="s-dot"></span>
                <span>6 de cada 10 señalan Calidad de producto y casi la mitad Orientación al cliente.</span>
            </li>
            <li>
                <span class="s-dot"></span>
                <span>El tercero y cuarto conceptos más señalados (un 35% y un 39% respectivamente) son: Trabajo en equipo y Estabilidad de futuro</span>
            </li>
        </ul>
    
        <img src="static/Informe_Clima/graphs/tamplate06-graph.png" class="page-06-graph" />
    </div>


    <div class="page-note">
        <p class="pg-06-note"><span>Marque los 3 conceptos<br> que más relaciones<br> con Empresa<br><br>Base: 1579</span></p>
    </div>

</div>
{% endblock %}

