{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-07">
    

    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">4</div>
        <div class="pgname-number-title">Recomendación
        <span class="pgname-sub-title">Definición eNPS</span>
    </div>
    </div>

    <div class="pg-07-row">

        <div class="pg-07-col left">
            <ul class="page-ul-list pg-07">
                <li>
                    <span class="s-dot"></span>
                    <span>El Employee Net Promoter Score (eNPS) es una métrica que nos permite medir y monitorear el nivel de satisfacción de los empleados a través de la pregunta: “¿Recomendaría X como lugar para trabajar a un amigo o familiar?”</span>
                    <ul class="pg-07-ul">
                        <li>Los que asignan 9 o 10 puntos: <b>promotores</b></li>
                        <li>Los que asignan 7 u 8 puntos: <b>pasivos</b></li>
                        <li>Los que otorgan 6 puntos o menos: <b>detractores</b></li>
                    </ul>
                </li>
            </ul>
            <img src="static/Informe_Clima/images/emoji-group.svg" class="pg-07-emoji-group-img" />
            <div class="pg-07-lft-row">
                <div class="nps-text">
                    NPS = <span class="green-text">PROMOTORES%</span> - <span class="red-text">DETRACTORES%</span>
                </div>
                <div class="nps-para">Para obtener un resultado se restan los detractores a los promotores y se consigue un índice que mide la fidelidad y satisfacción.</div>
            </div>
        </div>

        <div class="pg-07-col right">
            <ul class="page-ul-list pg-07">
                <li>
                    <span class="s-dot"></span>
                    <span>Existe una correlación entre el NPS (cliente) y el <b>eNPS</b> (empleado). Un empleado que se siente feliz e importante en su empresa, está más capacitado y se esfuerza más por satisfacer al cliente.</span>
                </li>
                <li>
                    <span class="s-dot"></span>
                    <span>El índice eNPS suele tomar valores más bajos que un NPS de cliente, pues la relación emocional de los empleados con la empresa es mayor y son más exigentes.</span>
                </li>
            </ul>
            <div class="pg-07-purple-box">
                El índice eNPS puede ser tan bajo como -100 (todo el mundo es un detractor) o tan alto como 100 (todo el mundo es un promotor). Un eNPS superior a 0 se percibe como bueno y un NPS de 50 es excelente.
            </div>
        </div>

    </div>



</div>
{% endblock %}

