{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-04">

    <div class="pgname-number">
        <div class="pgname-number-box">2</div>
        <span class="pgname-number-title">Perfil de la muestra</span>
    </div>
    <div class="table-row">
        <div class="table-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/gender-icon.svg" /><span>Sexo</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Hombre</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Mujer</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">N/A</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
            <table class="table gap">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/cargo-icon.svg" /><span>Cargo</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Director</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Manager</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Jefe Departamento</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Especialista</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Supervisor</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Operario</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">N/A</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/calendar-icon-2.svg" /><span>Edad</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Menor 25 años</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 25-35</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 36-45</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 46-55</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">56 ó más</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">N/A</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
            <table class="table gap">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/seniority-icon.svg" /><span>Antigüedad en la compañía</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Menor 25 años</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 25-35</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 36-45</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Entre 46-55</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">56 ó más</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">N/A</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/Earth-icon.svg" /><span>País</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Alemania</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Argentina</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Brasil</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Chile</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">España</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Francia</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Italia</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Marruecos</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">México</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Polonia</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Rusia</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">USA</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-note">
        <p>Nota 1: <span>En N/A figuran Imprimepel y aquellos datos que no han sido concretados en los links libres</span></p>
        <p>Nota 2: <span>49 casos sin datos del Universo. Se incluyen en N/A para variables demográficas, y se omiten en País, Planta y División.</span></p>
    </div>


</div>
{% endblock %}

