{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-02">
    <div class="wrap spacebetween">
        <div class="page-02-left">
            <h1 class="page-02-title">{{ title }}</h1>
            <p>{{ content }}</p>
            <img src="{{ image_path }}" alt="" />
        </div>
        <div class="page-02-right">
            <ul class="number-list">
                <li><span class="number-box">1</span><span>Ficha técnica</span></li>
                <li><span class="number-box">2</span><span>Perfil de muestra</span></li>
                <li><span class="number-box">3</span><span>Percepción</span></li>
                <li><span class="number-box">4</span><span>Recomendación</span></li>
                <li><span class="number-box">5</span><span>Aspectos evaluados: visión general</span></li>
                <li><span class="number-box">6</span><span>Aspectos evaluados: detalle</span></li>
                <li><span class="number-box">7</span><span>Matriz importancia satisfacción</span></li>
                <li><span class="number-box">8</span><span>Conclusiones</span></li>
                <li><span class="number-box">9</span><span>Anexo<br><small>Principales indicadores por segmento</small></span></li>
            </ul>
        </div>
    </div>


</div>

{% endblock %}
