{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-09">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">4</div>
        <div class="pgname-number-title">Recomendación
            <span class="pgname-sub-title">Recomendación</span>
        </div>
    </div>
    <div class="pg-09-row">
        <div class="pg-09-col left">
            <ul class="page-ul-list">
                <li>
                    <span class="s-dot"></span>
                    <span>El <b>Índice eNPS</b> alcanza <b>-1,96 puntos</b>, ligeramente por debajo de 0 (límite teórico de un eNPS bueno).</span>
                </li>
                <li>
                    <span class="s-dot"></span>
                    <span>Un 36% de los empleados participantes <b>recomendarían</b> la compañía como lugar de trabajo con un <b>9 o 10 (promotores)</b>. Los motivos principales de recomendación son el buen ambiente, así como el trato a los trabajadores y los beneficios.</span>
                </li>
                <li>
                    <span class="s-dot"></span>
                    <span>Por el contrario, el <b>37% son detractores</b>, puntúan con 6 o menos. Aunque solo el 18% por debajo de 5. Las sugerencias principales de mejora son relativas a la remuneración y la organización.</span>
                </li>
                
            </ul>
        </div>
        <div class="pg-09-col right">
            <div class="pg-09-graph-row">
                <div class="pg-09-graph-col">
                    <!-- <img src="{{ image_path }}" alt="" /> -->
                    <img src="static/Informe_Clima/graphs/tamplate09-graph.png" alt="" />
                </div>
                <div class="pg-09-graph-value-col">
                    <ul class="pg-09-value-list">
                        <li>
                            <div class="pg-09-emoji-box">
                                <div class="pg-09-emoji-icn-col"><img src="static/Informe_Clima/images/bad-emoji.svg" /></div>
                                <div class="pg-09-emoji-cnt-col">
                                    <div class="pg-09-emoji-hdng">37,5%</div>
                                    <div class="pg-09-emoji-subhdng">Detractores</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pg-09-emoji-box yellow">
                                <div class="pg-09-emoji-icn-col"><img src="static/Informe_Clima/images/normal-emoji.svg" /></div>
                                <div class="pg-09-emoji-cnt-col">
                                    <div class="pg-09-emoji-hdng">27,0%</div>
                                    <div class="pg-09-emoji-subhdng">Pasivos</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="pg-09-emoji-box green">
                                <div class="pg-09-emoji-icn-col"><img src="static/Informe_Clima/images/good-emoji.svg" /></div>
                                <div class="pg-09-emoji-cnt-col">
                                    <div class="pg-09-emoji-hdng">35,5%</div>
                                    <div class="pg-09-emoji-subhdng">Promotores</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-09-graph-scale-box">
                <div class="graph-sgmnt">0 <span class="graph-sgmnt-text">5,1%</span></div>
                <div class="graph-sgmnt">1 <span class="graph-sgmnt-text">2,4%</span></div>
                <div class="graph-sgmnt">2 <span class="graph-sgmnt-text">2,6%</span></div>
                <div class="graph-sgmnt">3 <span class="graph-sgmnt-text">3,9%</span></div>
                <div class="graph-sgmnt">4 <span class="graph-sgmnt-text">3,9%</span></div>
                <div class="graph-sgmnt">5 <span class="graph-sgmnt-text">10,4%</span></div>
                <div class="graph-sgmnt yellow">6 <span class="graph-sgmnt-text">9,2%</span></div>
                <div class="graph-sgmnt yellow">7 <span class="graph-sgmnt-text">12,6%</span></div>
                <div class="graph-sgmnt green">8 <span class="graph-sgmnt-text">14,4%</span></div>
                <div class="graph-sgmnt green">9 <span class="graph-sgmnt-text">12,3%</span></div>
                <div class="graph-sgmnt green">10 <span class="graph-sgmnt-text">23,2%</span></div>
                <div class="graph-base-sgmnt">Base <span class="graph-sgmnt-text">1579</span></div>
            </div>
            <div class="pg-09-purple-box">
                <div class="nps-text">
                    NPS = <span class="green-text">PROMOTORES%</span> - <span class="red-text">DETRACTORES%</span>
                </div>
                <div class="pg-09-count-box">eNPS = <b>-196</b></div>
                <div class="pg-09-count-text">Base: 1579</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

