{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-05">
    

    <div class="pgname-number">
        <div class="pgname-number-box">2</div>
        <span class="pgname-number-title">Perfil de la muestra</span>
    </div>
    <div class="table-row">
        <div class="table-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/building-icon.svg" /><span>Planta (1/2)</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Coexpan Deutschland</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Coexpan Emsur Brasil ltda.</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Coexpan France</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Coexpan México</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">COEXPAN Spain</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Coexpan-Coembal Chile</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">CXP Montonate</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Cycobox, S.L.</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Emsur Argentina</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">EMSUR Madrid</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Emsur México</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Emsur Polska</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Emsur USA</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">EMSUR Valencia</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Estella</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Extekh</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Formplast, SAS</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">FSP</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Grafiques Argent, S.A.</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/building-icon.svg" /><span>Planta (2/2)</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">Imprimepel</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Innotech</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Laninver SHC, S.L.</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Leca Packaging, S.A.</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">SPO</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">Unigraf</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
            <table class="table gap">
                <thead>
                    <tr>
                        <th class="tbl-hd-title-col" rowspan="2">
                            <div><img src="static/Informe_Clima/images/division-icon.svg" /><span>División</span></div>
                        </th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-1" colspan="2">Universo</th>
                        <th class="tbl-hd-tp tbl-hd-tp-col-2" colspan="2">Muestra</th>
                    </tr>
                    <tr>
                        <th class="tbl-hd-gray-col">Frec.</th>
                        <th class="tbl-hd-gray-col">%</th>
                        <th class="tbl-hd-color-col">Frec.</th>
                        <th class="tbl-hd-color-col">Tasa respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-title-col">COEXPAN</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">COEXPAN-EMSUR</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">EMSUR</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">ESTELLA</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">HOLDINGS</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col">LECA</td>
                        <td class="tbl-gray-td">41</td>
                        <td class="tbl-gray-td">3%</td>
                        <td class="tbl-purple-td">70</td>
                        <td class="tbl-purple-td">59%</td>
                    </tr>
                    <tr>
                        <td class="tbl-title-col"><b>Total</b></td>
                        <td class="tbl-gray-td"><b>41</b></td>
                        <td class="tbl-gray-td"><b>3%</b></td>
                        <td class="tbl-purple-td"><b>70</b></td>
                        <td class="tbl-purple-td"><b>59%</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-col">
            
        </div>
    </div>
    <div class="page-note">
        <p>Nota 1: <span>En N/A figuran Imprimepel y aquellos datos que no han sido concretados en los links libres</span></p>
        <p>Nota 2: <span>49 casos sin datos del Universo. Se incluyen en N/A para variables demográficas, y se omiten en País, Planta y División.</span></p>
    </div>



</div>
{% endblock %}

