
.readyrit :global, .readyleft :global { height: auto;}
.readyrit :global .readtframe { width: 39px; left: -2px;}

.readyleft :global h2 { max-width: 100%;}


@media (max-width: 1780px) {
.readywrk {height: auto;}
}


@media (max-width:1024px) {

.readyrit{  overflow: hidden;}

.readyrit :global .readtframe { width: auto; left: 48%;}

}

