
@page {
    size: 20in 11.25in;  /* Custom page size for 1920x1080 */
    margin: 0;           /* Optional: no margin for full-bleed */
}
/* @import url('https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

body { font-family: 'Helvetica', Arial, sans-serif; /* font-family: "Itim", cursive; */ background-color: #fff; color: #5F6488; padding:44px 64px; }
h1,h2,h3,h4,h5,h6{ padding: 0px; margin: 0px; font-family: 'Helvetica', Arial, sans-serif; line-height: 1.2; }
p { font-size: 12pt; color: black; }

.pdf-header{ width: 100%; display: inline-flex; justify-content: space-between; align-items: center; margin-bottom: 47px; }
.pdf-header-title{ color: #5F6488; font-size: 23px; } 
.text-bold{ font-weight: 800; }

.box{ width: 200px; height: 200px; background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); display: inline-block; margin:0px 20px; }
.wrap{ width:100%; display:inline-flex; margin:0px -20px; }
.wrap.spacebetween{ justify-content: space-between; }

/* page number name css start */
.pgname-number{ width: auto; display: inline-flex; align-items: center; position: relative; margin-bottom: 58px; }
.pgname-number-box{ width: 44px; height: 44px; background-color: #7145D6; display: inline-block; text-align: center; line-height: 44px; color: #fff; font-size: 23px; margin-right: 17px; }
.pgname-number-title{ color: #35305C; font-weight: 800; font-size: 35px; line-height: 1; }
/* page number name css ended */

/* number list css start */
.number-list{ width: 100%; display: inline-flex; flex-direction: column; list-style-type: none; padding: 0px; margin: 0px; }
.number-list>li{ width: 100%; position: relative; color: #35305C; font-size: 34px; padding-left: 50px; margin-bottom: 35px; line-height: 1; }
.number-box{ width: 34px; height: 34px; background-color: #7145D6; display: inline-block; text-align: center; line-height: 34px; color: #fff; font-size: 18px; position: absolute; left: 0px; top: 0px; }
.number-list>li small{ font-size: 21px; }
/* number list css ended */


/* header css start */
.header-logo{ width: 136px; }
/* header css ended */


/* intro page css start */
.intropage-logo{ margin-top: 200px; margin-bottom: 136px; }
.intropage-title{ color: #35305C; font-size: 84px; font-weight: 700; line-height: 1.2; }
.intropage-subtitle{ color: #35305C; font-size: 54px; font-weight: 300; line-height: 1.2; }
.page-01 .footer{ margin-top: 260px; }
.footer-title{ color: #5F6488; font-size: 35px; } 
/* intro page css ended */

/* purple table css start */
.purple-table{ width: 555px; border: #DCDCDC solid 1px; }
.purple-table .col-1{ background-color: #5F6488; }
.purple-table .col-2{ background-color: #7145D6; }
/* purple table css ended */

/* template 2 css start */
.page-02{ padding: 50px 60px 0px; }
.page-02-title{ font-size: 111px; font-weight: 800; color: #35305C; }
.page-02-left{ width: 300px; }
.page-02-right{ width: auto; display: inline-flex; flex-direction: column; padding-top: 100px; }
.page-02-right .number-list li{ width: 590px; }
/* template 2 css ended */


/* template 3 css start */

/* template 3 css ended */