.welcomewrp {
  padding: 40px 0 80px 0; /*justify-content: space-between;*/
}
.welcomeinner {
  display: flex;
}
.welcomewrp h2 {
  margin: 0;
}
.wtitlewrp {
  max-width: 733px;
  margin-right: 5%;
}
.wcontentwrp {
  padding: 0 0 0 0;
  max-width: 529px;
  margin-left: 5%;
}
.w_conttitle {
  font-size: 20px;
  color: #2b2d2f;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px 0;
}
.wcontentwrp p {
  color: #2b2d2f;
  line-height: 1.5;
}

@media (max-width: 1600px) {
  .welcomewrp {
    padding: 20px 0 50px 0;
  }
  .wtitlewrp {
    max-width: 600px;
  }
}

@media (max-width: 1366px) {
  .welcomewrp {
    padding: 70px 0;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .welcomewrp {
    padding: 40px 0;
  }
  .welcomeinner {
    flex-wrap: wrap;
  }
  .wtitlewrp {
    margin-right: 0%;
  }
  .wcontentwrp {
    margin-left: 0%;
    margin-top: 30px;
  }
}
