@import url('./codemirror/codemirror.min.css');
@import url('./codemirror/theme/neo.min.css');
/* @import url('./codemirror/theme/idea.min.css');
@import url('./codemirror/theme/dracula.min.css');
@import url('./codemirror/theme/eclipse.min.css');
@import url('./codemirror/theme/mdn-like.min.css'); */
@import url('./bootstrap.min.css');

*{ padding: 0px; margin: 0px; }
body{ /*background-color: #000000; color: #fff; font-family: "arial";*/ font-size:16px; padding: 0px 15px; }
p{ margin-bottom: 5px; }
.CodeMirror{ margin-bottom: 10px; }
.CodeMirror, .CodeMirror-scroll{ height: auto !important; font-size: 14px; }
code{ font-size: 1.05em; }
blockquote code{ font-size: 16px; }
.badge{ padding: 5px 14px; font-size: 15px; font-weight: 400; }
.cm-s-neo.CodeMirror{ background-color: transparent; }
.blockquote, .blockquote code{ font-family: system-ui, -apple-system; }
.blockquote .mark{ padding: 15px; width: 100%; display: inline-block; }
.blockquote p{ color: black; }
.blockquote .normal{ color: black; }
p code{ font-weight: 700; }
hr{ margin: 10px 0px; }

@media print {

body{ font-size:12px; }
code, table{ font-size: 12px; }
.CodeMirror-code{ font-size: 12px; }
.blockquote, .blockquote code{ font-family: system-ui, -apple-system; font-size: 12px; }
.blockquote .mark{ padding: 15px; width: 100%; display: inline-block; font-size: 12px; }
.blockquote p{ font-size: 12px; }
.blockquote .normal{ font-size: 12px; }
hr{ margin: 10px 0px; }
hr+h1, hr+h2, hr+h3, hr+h4, hr+h5, hr+h6{ margin-bottom: 0px; }
}