{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-06">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">1</div>
        <div class="pgname-number-title">Resultados Proceso Valoración
        <span class="pgname-sub-title">Resultados Competencias</span>
    </div>
    </div>

    <div class="valuation-wrapper">
        <div class="results-process_3col">
            <div class="media-update">
                <h3 class="block-main_title-secondary">Puntuación media global</h3>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación a resultados</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación al cliente</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Liderazgo integrador</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Agente del cambio</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Comunicación eficaz</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Liderazgo de equipo</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Rigor</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Sentido de pertenencia</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Visión positiva</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
            </div>
            <div class="directors-with-team">
                <h3 class="block-main_title-secondary">Directores con equipo</h3>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación a resultados</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación al cliente</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Liderazgo integrador</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Agente del cambio</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Comunicación eficaz</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Liderazgo de equipo</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Sentido de pertenencia</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Visión positiva</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
            </div>
            <div class="directors-without-team">
                <h3 class="block-main_title-secondary">Directores sin equipo</h3>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación a resultados</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Orientación al cliente</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Liderazgo integrador</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Agente del cambio</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Comunicación eficaz</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Sentido de pertenencia</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
                <div class="persona-progress_block">
                    <div class="progress_text-block"><h6 class="progress-title">Visión positiva</h6></div>   
                    <div class="progressbar_block">
                        <div class="progress"><div class="progress-bar success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                        <span class="progress-bar_value">95,20</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}
