{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-03">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">1</div>
        <div class="pgname-number-title">Resultados Proceso Valoración
        <span class="pgname-sub-title">Resultados Globales</span>
    </div>
    </div>

    <div class="pdf-content_wrapper">
        <div class="valuation-wrapper">
            <div class="results-process_block">
                <div class="directores-block">
                    <h2 class="block-main_title">Mejores Resultados Directores</h2>
                    <div class="persona-list_wrapper persona_w100">
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/woman-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    

                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/woman-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    

                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/man-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    

                        </div>
                    </div>
                </div>
                <div class="responsables-block">
                    <h2 class="block-main_title">Mejores Resultados Responsables</h2>
                    <div class="persona-list_wrapper">
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/man-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/woman-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/woman-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/man-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="persona-list">
                            <div class="persona-avatar_block">
                                <img src="static/Informe_Ejecutivo/images/man-avatar.svg" alt="Avatar" class="persona-avatar">
                            </div>
                            <div class="persona-details_block">
                                <div class="persona-details">
                                    <h5 class="block-title_sm">Persona1</h5>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Puntuación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">95,20</span>
                                        </div>
                                    </div>
                                    <div class="persona-progress_block">
                                        <div class="progress_text-block"><h6 class="progress-title">Participación</h6></div>   
                                        <div class="progressbar_block">
                                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                                            <span class="progress-bar_value">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-note">
        <p>Nota: <span>Debido a su dimensión, la información de las mejores puntuaciones para el colectivo de Especialistas y Técnicos se representará únicamente en los resultados del ranking, al final de esta sección</span></p>
    </div>


</div>

{% endblock %}
