{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-10">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">1</div>
        <div class="pgname-number-title">Resultados Proceso Valoración
        <span class="pgname-sub-title">Resultados Globales</span>
    </div>
    </div>
<div>

    <img src="static/Informe_Ejecutivo/graphs/tamplate10-mediaglobal-graph.png" />
    <img src="static/Informe_Ejecutivo/graphs/tamplate10-directores-graph.png" />
    <img src="static/Informe_Ejecutivo/graphs/tamplate10-responsables-graph.png" />
    <img src="static/Informe_Ejecutivo/graphs/tamplate10-especialistas-graph.png" />
</div>

</div>

{% endblock %}
