{% extends "pdfbase.html" %}
{% block content %}
    <div class="pagewrap page-11 page-with_progressbar">
        <div class="pgname-number pgname-numberalgn">
            <div class="pgname-number-box">3</div>
            <div class="pgname-number-title">Ranking General <span class="pgname-sub-title">10 mejores resultados</span>
            </div>
        </div>
        <div class="valuation-wrapper">
            <div class="results-process_2col">
                <div class="media-update">
                    <h3 class="block-main_title-secondary">Directores</h3>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 1</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 93%"
                                    aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 2</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 73.2%"
                                    aria-valuenow="73.2" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 3</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 65.3%"
                                    aria-valuenow="65.3" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 4</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 62.7%"
                                    aria-valuenow="62.7" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 5</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 60.8%"
                                    aria-valuenow="60.8" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 6</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 55.4%"
                                    aria-valuenow="55.4" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 7</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 53.1%"
                                    aria-valuenow="53.1" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 8</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 50.5%"
                                    aria-valuenow="50.5" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 9</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 47.7%"
                                    aria-valuenow="47.7" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 10</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 44.2%"
                                    aria-valuenow="44.2" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                </div>
                <div class="directors-with-team">
                    <h3 class="block-main_title-secondary">Responsables</h3>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 1</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 93%"
                                    aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 2</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 73.2%"
                                    aria-valuenow="73.2" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 3</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 65.3%"
                                    aria-valuenow="65.3" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 4</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 62.7%"
                                    aria-valuenow="62.7" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 5</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 60.8%"
                                    aria-valuenow="60.8" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 6</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 55.4%"
                                    aria-valuenow="55.4" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 7</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 53.1%"
                                    aria-valuenow="53.1" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 8</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 50.5%"
                                    aria-valuenow="50.5" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 9</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 47.7%"
                                    aria-valuenow="47.7" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                    <div class="persona-progress_block">
                        <div class="progress_text-block">
                            <h6 class="progress-title">Persona 10</h6>
                        </div>
                        <div class="progressbar_block">
                            <div class="progress">
                                <div class="progress-bar success" role="progressbar" style="width: 44.2%"
                                    aria-valuenow="44.2" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-bar_value">95,20</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}