{% extends "pdfbase.html" %}
{% block content %}
  <div class="pagewrap page-12">

    <div class="pgname-number pgname-numberalgn">
      <div class="pgname-number-box">3</div>
      <div class="pgname-number-title">Ranking General
        <span class="pgname-sub-title">34 mejores resultados</span>
      </div>
    </div>

    <!-- ....second section......... -->
    <div class="rankingwrp">
      <h2 class="ranking_title">Especialistas y técnicos</h2>
      <div class="rankingdata_wrp">
        <table class="rankingdatatable">
          <tr>
            <td>Persona 1</td>
            <td>Persona 13</td>
            <td>Persona 25</td>
          </tr>

          <tr>
            <td>Persona 2</td>
            <td>Persona 14</td>
            <td>Persona 26</td>
          </tr>
          <tr>
            <td>Persona 3</td>
            <td>Persona 15</td>
            <td>Persona 27</td>
          </tr>
          <tr>
            <td>Persona 4</td>
            <td>Persona 16</td>
            <td>Persona 28</td>
          </tr>

          <tr>
            <td>Persona 5</td>
            <td>Persona 17</td>
            <td>Persona 29</td>
          </tr>

          <tr>
            <td>Persona 6</td>
            <td>Persona 18</td>
            <td>Persona 30</td>
          </tr>

          <tr>
            <td>Persona 7</td>
            <td>Persona 19</td>
            <td>Persona 31</td>
          </tr>

          <tr>
            <td>Persona 8</td>
            <td>Persona 20</td>
            <td>Persona 32</td>
          </tr>

          <tr>
            <td>Persona 9</td>
            <td>Persona 22</td>
            <td>Persona 33</td>
          </tr>

          <tr>
            <td>Persona 10</td>
            <td>Persona 23</td>
            <td>Persona 34</td>
          </tr>

          <tr>
            <td>Persona 11</td>
            <td>Persona 24</td>
            <td></td>
          </tr>

          <tr>
            <td>Persona 12</td>
            <td>Persona 25</td>
            <td> </td>
          </tr>

        </table>
      </div>


      <div class="page-note">
        <p>Nota: <span> Debido a su dimensión, la información de las mejores puntuaciones para el colectivo de
            Especialistas y Técnicos se representará únicamente en los resultados del ranking, al final de esta
            sección</span></p>
      </div>

    </div>
    <!-- .....second section.......... -->



  </div>
  {% endblock %}