{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-02">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">1</div>
        <div class="pgname-number-title">Resultados Proceso Valoración
        <span class="pgname-sub-title">Resultados Globales</span>
    </div>
    </div>

    <div class="globalwrper">
        <!-- ........left....... -->
        <div class="globalleft">

            <div class="global_inerbox">
 
 <div class="global_pos">
               
                <div class="dictor_title">Global</div>
                <div class="global_gradientwrp"><img src="static/Informe_Ejecutivo/images/gradient_purplebg.svg" alt=""></div>
            </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación media</div>
                    <div class="globalrowright"><strong>83,67</strong></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación requerida</div>
                    <div class="globalrowright">67,5</div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Nº de evaluados</div>
                    <div class="globalrowright">839</div>
                </div>
            </div>

            <div class="global_inerbox">
                <div class="global_pos">
               
                    <div class="dictor_title">Directores</div>
                    <div class="global_gradientwrp"><img src="static/Informe_Ejecutivo/images/gradient_purplebg.svg" alt=""></div>
                </div>
                

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación media</div>
                    <div class="globalrowright"><strong>84,48</strong></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación requerida</div>
                    <div class="globalrowright">72,5</div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Nº de evaluados</div>
                    <div class="globalrowright">46</div>
                </div>
            </div>

            <div class="global_inerbox">
                <div class="global_pos">
               
                    <div class="dictor_title">Global</div>
                    <div class="global_gradientwrp"><img src="static/Informe_Ejecutivo/images/gradient_purplebg.svg" alt=""></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación media</div>
                    <div class="globalrowright"><strong>83,99</strong></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación requerida</div>
                    <div class="globalrowright">72,3</div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Nº de evaluados</div>
                    <div class="globalrowright">165</div>
                </div>
            </div>

            <div class="global_inerbox">
                <div class="global_pos">
               
                    <div class="dictor_title">Global</div>
                    <div class="global_gradientwrp"><img src="static/Informe_Ejecutivo/images/gradient_purplebg.svg" alt=""></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación media</div>
                    <div class="globalrowright"><strong>83,52</strong></div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Puntuación requerida</div>
                    <div class="globalrowright">65,7</div>
                </div>

                <div class="globalmaincontrw">
                    <div class="globalrowleft">Nº de evaluados</div>
                    <div class="globalrowright">628</div>
                </div>
            </div>

        </div>
        <!-- ........left....... -->
        <!-- ........right....... -->
        <div class="globalright">
            <div class="globalimgholder">
                <img src="static/Informe_Ejecutivo/images/valoracion_rightimg.svg" alt="" class="globalimg">
            </div>
            <div class="global_percentholder">
                <div class="global_percentholder_title">97,8%</div>
                <div class="global_percentholder_subtitle"><span>Participación</span> (96,4% 2019)</div>
            </div>
        </div>
        <!-- ........right....... -->
    </div>


</div>

{% endblock %}
