{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-04">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">1</div>
        <div class="pgname-number-title">Resultados Proceso Valoración
        <span class="pgname-sub-title">Resultados Globales</span>
    </div>
    </div>

    <img src="static/Informe_Ejecutivo/graphs/tamplate04-01-graph.png" />
    <img src="static/Informe_Ejecutivo/graphs/tamplate04-02-graph.png" />



</div>

{% endblock %}
