body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px; padding: 0px;
}
.tutorial-detail-section{
  width: 100%; display: inline-flex; column-gap: 15px; overflow: hidden;
}
.tutorial-detail-left{
  width: 40%; height: calc(100vh - 77px); overflow: auto; overflow-y: auto; position: relative; padding:15px; /*background-color: rgb(14 14 14); color: #fff;*/ line-height: 1.5;
}
.tutorial-detail-right{
  /*width: 40%;*/ flex: 1; position: relative; padding:15px; height: calc(100vh - 77px); overflow: hidden; overflow-y: auto;
}
