.expense_card {
  width: 100%;
  padding: 10px;
  position: relative;
  border: #747ffa solid 1px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: #d1e8ff;
  margin-bottom: 16px;
}
.expense_content {
  flex: 1;
  text-align: left;
}
.expense_title {
  font-size: 20px;
  color: #000;
}
.expense_amount {
  width: auto;
  padding: 5px 15px;
  background-color: #03245a;
  border: #fff solid 3px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
