@charset "utf-8";
/*=============== Default CSS Start ==================*/
:root {
    --primary-color:#ffffff;
    --secondary-color:#2D3142;
    --text-color:#3c3c3c;
    --black:#000000;
    --blue:#04043F;
    --orange:#EF8354;
    --gray:rgba(29,29,31,0.80);
    --light-gray:#D9D9D9;
    --light-blue: #C6E1FF;
    --dark-gray: #1D1D1F;
    --title-font:"Space Grotesk", serif, Arial, Helvetica, sans-serif;
    --primary-font:"Inter", Arial, Helvetica, sans-serif;
}
html {
    overflow-x: hidden; margin: 0 !important;
}
ol,
ul {
    list-style: none;
}
:focus,
:hover,
:active {
    outline: 0;
    text-decoration: none !important;
}
a,
a:link {
    text-decoration: none;
    outline: none;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
}
a:hover {
    text-decoration:none !important;
}
a:focus {
    outline:none;
}
:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
h1,
h1 a,
h2,
h2 a,
h3,
h4,
h5,
h6 {
    margin:0;
    padding:0;
    font-weight:normal;
    text-shadow:none;
}
img {
    border:0;
    max-width:100%;
    vertical-align: middle; 
    outline: none;
    height:auto;
    width:auto;
}
:-webkit-input-placeholder {
    opacity:1;
}
:-moz-placeholder {
    opacity: 1;
}
::-moz-placeholder {
    opacity: 1;
}
:-ms-input-placeholder {
    opacity: 1;
}
*,
body * {
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    position:relative;
    font-family:var(--primary-font);
    background-color:var(--primary-color);
    color:var(--text-color);
    font-size:16px;
    font-weight:400;
    font-style:normal;
    line-height:22px;
    box-sizing:border-box;
    max-width:100%;
    width:100%;
    /* overflow-x:hidden; */
}
/* Text Common Font, Size , Style Start */
h1,
h2,
h3{
    display:block;
    padding:0;
    margin: 0 auto 20px;
    font-family:var(--title-font);
    font-weight:400;
    font-style:normal;
    color: var(--blue);
}
h1{
    font-size:70px;
    line-height:83px;
}
h2{
    font-size:48px;
    line-height:65px;
    font-weight:500;
}
h3{
    font-size:42px;
    line-height:48px;
}
h4{
    display:block;
    padding:0;
    margin: 0 auto 20px;
    font-family:"Inter", serif, Arial, Helvetica, sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:32px;
    line-height:40px;
}
h5{
    display:block;
    padding:0;
    margin: 0 auto 15px;
    font-family:"Inter", serif, Arial, Helvetica, sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:24px;
    line-height:32px;
}
h6{
    display:block;
    padding:0;
    margin: 0 auto 10px;
    font-family:"Inter", serif, Arial, Helvetica, sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:20px;
    line-height:28px;
}
p{
    display:block;
    padding:0;
    margin:0 auto 15px;
    font-family:"Inter", serif, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:26px;
    font-weight:400;
    font-style:normal;
    text-transform:none;
    text-decoration:none;
    color:var(--text-color);
}

/* Text Common Font, Size , Style End */




.slide_cardes_main_wrap{
    width: 591px; max-width: 591px; width:100%; position: relative; display: flex; flex-direction: column; align-items: center; margin: 0px auto;
}
.slide_cardes_main_wrap .slide_cardes_wrap{
  width: 100%; position: relative; height: 516px; display: flex; flex-direction: column; align-items: flex-end; row-gap: 20px; justify-content: space-between; perspective: 1000px;
}
.slide_cardes_main_wrap .slide_cardes_wrap.mobile-view{
  display: none;
}
.slide_cardes_main_wrap .slide_card{
  width: 344px; /*height: 394px;*/ height:auto; display:flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin: 0px; transition: all ease 0.6s; position: absolute; top: 0px; right: 0px; border-radius: 32px;  cursor: pointer; row-gap: 20px; overflow: hidden; flex-shrink: 0;z-index: 0; transform: scale(1);
  transition: all 0.6s ease;
}
.slide_cardes_main_wrap .slide_card > img{
    width: 100%;
}
.slide_cardes_main_wrap .slide_card.active{
  position: absolute; top: 0px; right: 42%; flex-direction: row-reverse; justify-content: space-between; text-align: left; z-index: 21; transform: translateX(0px) scale(1);
}
.slide_cardes_main_wrap .slide_card.right-top {
    transform: translateX(0px) translateY(25%) scale(1);
}
.slide_cardes_main_wrap .slide_card.right-bottom {
    transform: translateX(-36%) translateY(15%) scale(1.1); 
}
.slide_cardes_wrap .slide_card:nth-child(1).right-top{ 
    z-index: 1; transform: translateX(0px) translateY(24%) scale(1); 
}
.slide_cardes_wrap .slide_card:nth-child(1).right-bottom{ 
    /* transform: translateX(-60px) translateY(10%) scale(1);  */
    transform: translateX(-40%) translateY(10%) scale(1); 
}
.slide_cardes_main_wrap .slide_card:nth-child(2).right-top {
    transform: translateX(0px) translateY(30%) scale(1);
}
.slide_cardes_wrap .slide_card:nth-child(3).right-bottom{ 
    transform: translateX(-35%) translateY(8%) scale(1); 
}
/* .slide_cardes_wrap .slide_card:nth-child(1){ background: #9ef8f8; }
.slide_cardes_wrap .slide_card:nth-child(2){ background: #78f09c; }
.slide_cardes_wrap .slide_card:nth-child(3){ background: #dc9ef8; } */

.slide_cardes_main_wrap .slide_cardes_nav_row{
    width: 100%; display: flex; align-items: center; justify-content: center; position: relative; column-gap: 15px;
}
.slide_cardes_main_wrap .solutiondesk-slider-arrow-btn {
  width: 32px; height: 32px; border: 2px solid rgba(26, 32, 36, 1) !important;  border-radius: 999px;  background: transparent;  display: flex;  align-items: center;  justify-content: center; cursor: pointer; padding: 0px;
}
.slide_cardes_main_wrap .solutiondesk-slider-arrow-btn svg {
  width: 14px; height: 14px;
}
.slide_cardes_main_wrap .solutiondesk-slider-arrow-btn:focus, .solutiondesk-slider-arrow-btn:hover{
  background: transparent !important;
}
.slide_cardes_main_wrap .solution_card_nav_dot_list{
    width: auto; display: inline-flex; align-items: center; column-gap: 6px; list-style: none; list-style-type: none; margin: 0px; padding:0px;
}
.slide_cardes_main_wrap .solution_card_nav_dot_list li{
    margin: 0px; padding:0px; display: inline-block; cursor: pointer;
}
.slide_cardes_main_wrap .solution_card_nav_dot_list span{
    width:7px; height:7px; display: inline-block; border-radius: 20px; background:var(--secondary-color); transition: all ease 0.5s; pointer-events: none;
}
.slide_cardes_main_wrap .solution_card_nav_dot_list li.active span{
    background: var(--orange); width:20px;
}


@media screen and (max-width: 480px) {
    .slide_cardes_main_wrap{
        transform: scale(0.6); transform-origin: center 0;
    }   
    .slide_cardes_main_wrap .slide_cardes_wrap {
        margin-left: 34%;
    }
}
