.premiumwrp {
  background-color: #eaeef0;
}

.premiumwrp h2 {
    /*margin: 0 0 50px 0;*/
    text-align: center;
    max-width: 1177px;
    margin-left: auto;
    margin-right: auto;
}

.premium_boxwrp {
  display: flex;
  flex-wrap: wrap;
  
}

.premiumboxcont {
  width: 50%;
  border-bottom: 1px solid #ccc;
  will-change: transform, opacity;
  transform: translateZ(0);
}

.premiumboxcont:nth-child(odd) {
  padding-right: 40px;
}

.premiumboxcont:nth-child(even) {
  padding-left: 40px;
}

.premiumboxcont:nth-child(2),
.premiumboxcont:nth-child(4) {
  border-right: 0;
}

.premiumboxcont:nth-child(3),
.premiumboxcont:nth-child(4) {
  padding-top: 40px;
}

.premiumboximgcont {
  height: 472px;
  width: 100%;
}

.premiumboximgcont img {
  /* will-change: transform;
    transform: translate3d(0px, 0.23688%, 0px) scale3d(1.25, 1.25, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;

  border-radius: 24px;
  position: relative !important;
}

.border_l {
  border-right: 1px solid #ccc;
}

.premiumbox_textcont {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 40px;
  align-items: center;
}

.boxpremium_left {
  flex: 1;
  margin-right: 20px;
}

.boxpremium_left h3 {
  margin-bottom: 10px;
  width: 100%;
}

.boxpremium_left p {
  max-width: 539px;
  margin-bottom: 15px;
  padding: 0;
}

.boxgap {
  padding-top: 40px;
}

.btncont_view {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 40px 0;
}

.section_01 {
  width: 100%;
  height: 900px;
  background-color: #747373;
  position: relative;
  padding: 70px 30px;
}

.section_02 {
  width: 100%;
  /*min-height: 1200px;*/
  position: relative;
  padding: 70px 30px;
}

.animate_frame {
  width: 100%;
  height: 0px;
  display: inline-block;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background-color: gray;
  transition: all ease-out 1s;
  transition-delay: 0.1s;
  margin: 0;
  transition: all 0.6s ease;
}

.animate_frame.frame_height {
  height: 472px;
  transition: all ease-out 1s;
  transform: translateY(0);
}

.animate_frame > img {
  width: 100%;
  height: 100% !important;
  min-height: 350px;
  object-fit: cover;
  position: relative;
  border-radius: 24px;
}

.brandin {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 249px;
  height: 249px;
  z-index: 2;
  margin: auto;
  transition: all ease-out 1s;
  opacity: 0;
  cursor: pointer;
}

.brandin img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}

.animate_frame:hover .brandin {
  opacity: 1;
  cursor: pointer;
  transition: all ease-out 1s;
}

@media (max-width: 1600px) {
  .premiumwrp h2 { max-width: 721px;}
}

@media (max-width: 1366px) {
}

@media (max-width: 1024px) {
  .premiumbox_textcont {
    display: block;
  }

  .premiumboximgcont {
    height: 362px;
  }
  .animate_frame.frame_height {
    height: 250px;
    
  }

  .brandin {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .premiumboxcont {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
  }

  .premiumboxcont:nth-child(even) {
    padding-left: 0;
  }

  .premiumboxcont:nth-child(odd) {
    padding-right: 0;
  }

  .border_l {
    border-right: 1px solid #ccc;
  }

  .premiumbox_textcont {
    margin: 35px 0 40px;
  }

  .boxpremium_left {
    flex: 1;
    margin-right: 20px;
  }

  .boxpremium_left h3 {
    margin-bottom: 10px;
    width: 100%;
  }

  .boxpremium_left p {
    max-width: 539px;
    margin-bottom: 15px;
  }

  .boxgap {
    padding-top: 40px;
  }

  .btncont_view {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
  }

  .section_01 {
    width: 100%;
    height: 900px;
    background-color: #747373;
    position: relative;
    padding: 70px 30px;
  }

  .section_02 {
    width: 100%;
    /*min-height: 1200px;*/
    position: relative;
    padding: 70px 30px;
  }

  .animate_frame {
    width: 100%;
    height: 0px;
    display: inline-block;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    background-color: gray;
    transition: all ease-out 1s;
    transition-delay: 0.5s;
    margin: 0;
  }

  .animate_frame.frame_height {
    height: 350px;
  }

  .animate_frame > img {
    width: 100%;
    height: 100% !important;
    min-height: 350px;
    object-fit: cover;
    position: relative;
  }

  .brandin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 249px;
    height: 249px;
    z-index: 2;
    margin: auto;
  }

  .brandin img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .premiumboxcont {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
  }

  .premiumboxcont:nth-child(even) {
    padding-left: 0;
  }

  .premiumboxcont:nth-child(odd) {
    padding-right: 0;
  }

  .border_l {
    border-right: 0px solid #ccc;
  }

  .premiumboximgcont {
    height: 326px;
  }

  .boxgap {
    padding-top: 0;
  }

  .btncont_view {
    padding: 0 0 40px 0;
  }

  .brandin {
    width: 150px;
    height: 150px;
  }

  .animate_frame {
    height: 246px !important;
  }

  .premiumboxcont:nth-child(2),
  .premiumboxcont:nth-child(4) {
    border-right: 0;
  }

  .premiumboxcont:nth-child(3),
  .premiumboxcont:nth-child(4) {
    padding-top: 0;
  }
}
