.expense_datebox {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #102046;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  gap: 5px;
}
