@import "tailwindcss";

:root {
  --noto-serif-display: "Noto Serif Display", serif;
  --noto-sans: "Noto Sans", sans-serif;
  --fustat: "Fustat", sans-serif;
  
  --background: #ffffff;
  --foreground: #171717;

  --gray:#484848;

  --greendark:#0A211F;
  --green60:#69940F;
  --green50:#87C700;
  --green40:#BADA76;
  --green30:#CDF576;
  --green25:#D5FF7B;
  --green20:#DFFF9A;
  --green10:#E8FFB7;
  --green05:#F0FFD0;

  --biege50:#B0B8B3;
  --biege30:#DDE3CD;
  --biege10:#F7F9F2;
  --biegelight:#FCFEF8;

  --blue15:#D9EDFF;
  --blue25:#C0E2FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Default text and background color scheme start */
.bg_greendark{
  background-color: var(--greendark);
}
.bg_green60{
  background-color: var(--green60);
}
.bg_green50{
  background-color: var(--green50);
}
.bg_green40{
  background-color: var(--green40);
}
.bg_green30{
  background-color: var(--green30);
}
.bg_green25{
  background-color: var(--green25);
}
.bg_green20{
  background-color: var(--green20);
}
.bg_green10{
  background-color: var(--green10);
}
.bg_green05{
  background-color: var(--green05);
}

.text_greendark{
  color: var(--greendark);
}
.text_green60{
  color: var(--green60);
}
.text_green50{
  color: var(--green50);
}
.text_green40{
  color: var(--green40);
}
.text_green30{
  color: var(--green30);
}
.text_green25{
  color: var(--green25);
}
.text_green20{
  color: var(--green20);
}
.text_green10{
  color: var(--green10);
}
.text_green05{
  color: var(--green05);
}
/* Default text and background color scheme ended */


/* reset css start */
html{
  font-size: 1.25vw;
}
body {
  font-family: var(--fustat); line-height: 1.4; background-color: var(--biegelight);
}
/* reset css ended */


/* common css start */
.common_container{
  width: 81.01vw; padding: 0px 20px; margin: 0px auto;
}
.section_heading_group{
  width: 100%; display: flex; align-items: center; justify-content: space-between; flex-direction: column; text-align: center; row-gap: 5px;
}
.section_heading{
  color: var(--greendark); font-family: var(--noto-serif-display); font-size: 3.666em; font-weight: 400; padding:0px; letter-spacing: -4px;
}
.section_heading_para{
  width:100%; max-width: 27.35em; font-size: 1.333em; color: var(--gray); line-height: 1.4;
}
/* common css ended */


/* common margin and padding css start */
.margin_bottom_120{
  margin-bottom: 5em;
}
/* common margin and padding css ended */


/* common button css start */
.hsd_button{
  display: inline-flex; align-items: center; justify-content: center; column-gap: 0.9em; background-color: var(--green25); color: var(--greendark); border: 0px; padding: 1em 1.68em;  font-size: 1em; font-weight: 500; border: solid 1px var(--green25); cursor: pointer; border-radius: 5em; transition: all 0.3s ease-in-out;
}
.hsd_button.line_button{
  background-color: transparent; border-color: var(--green30);
}
/* common button css ended */
