<html>
<head>
    <link rel='stylesheet' type='text/css' href='static/pdf-style.css' />
</head>
<body>

    <div class="pdf-header">
        <span class="pdf-header-title">Encuesta de clima laboral 2023</span>
        <img src="static/images/logo-big.svg" class="header-logo" alt="logo" />
    </div>

    <div class="pagewrap page-03">

        <div class="pgname-number">
            <div class="pgname-number-box">1</div>
            <span class="pgname-number-title">Ficha técnica</span>
        </div>
        
    
        <h1 class="page-03-title">{{ title }}</h1>
        <p>{{ content }}</p>
        <img src="{{ image_path }}" alt="" />
    
    
        <table class="purple-table">
            <tr>
                <th>Sexo</th>
                <th class="col-1" colspan="2">Universo</th>
                <th class="col-2" colspan="2">Muestra</th>
            </tr>
            <tr>
                <th>Sexo</th>
                <th>Universo</th>
                <th >Muestra</th>
                <th>Universo</th>
                <th >Muestra</th>
            </tr>
        </table>
    
    
    
    </div>

    
</body>
</html>