{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-14">
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">5</div>
        <div class="pgname-number-title">Aspectos evaluados: visión general
            <span class="pgname-sub-title">Ranking de satisfacción bloques</span>
        </div>
    </div>

    <!-- <h1 class="page-14-title">{{ title }}</h1>
    <p>{{ content }}</p>
    <img src="{{ image_path }}" alt="" /> -->

    <div class="pg-14-row">
        <div class="pg-14-col left">

            <div class="temp-para">
                <b>La intención de seguir trabajando en el Grupo en los próximos 12 meses (Pertenencia y compromiso)</b> y <b>el trato justo independientemente del género, raza u origen étnico, orientación sexual (Conciliación y diversidad)</b> son los aspectos que logran una <b class="green-text">satisfacción más elevada</b>, con medias de 8,5 y 8,2 respectivamente.
            </div>
            <div class="temp-hdng">
                <img src="static/images/like-icon.svg" />
                <span>Aspectos mejor valorados</span>
            </div>
            <ul class="temp-list type2">
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">1º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Pertenencia y Compromiso <small>Tengo la intención de seguir trabajando en este Grupo en los próximos 12 meses</small></div>
                            <div class="temp-rgt-number">8,48</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">2º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Conciliación y diversidad <small>Se nos trata de una forma justa independientemente de nuestro género, raza u origen étnico, orientación sexual</small></div>
                            <div class="temp-rgt-number">8,23</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">3º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Conciliación y diversidad <small>nte un problema personal, el Grupo me da facilidades para ausentarme, aunque me encuentre dentro del horario laboral</small></div>
                            <div class="temp-rgt-number">8,10</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">4º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Satisfacción en el puesto de trabajo <small>Tengo claras mis tareas y responsabilidades</small> </div>
                            <div class="temp-rgt-number">8,06</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">5º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Mi superior <small>Mi superior trata con dignidad y respeto a las personas de su equipo de trabajo</small> </div>
                            <div class="temp-rgt-number">8,03</div>
                        </div>
                    </div>
                </li>
                
            </ul>
            
        </div>
        <div class="pg-14-col right">
            <div class="temp-para">
                Por el contrario, la <b class="red-text">satisfacción más baja</b> se registra en 3 aspectos relativos a la remuneración: <b>Mi remuneración es similar a la de otros cargos de igual responsabilidad de otras empresas</b> y <b>del Grupo</b>, y <b>recibo una remuneración justa por el trabajo que realizo.</b>
            </div>
            <div class="temp-hdng">
                <img src="static/images/dislike-icon.svg" />
                <span>Aspectos mejor valorados</span>
            </div>
            <ul class="temp-list red type2">
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">1º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Reconocimiento <small>Mi remuneración es similar a la de otros cargos de igual responsabilidad de otras empresas</small></div>
                            <div class="temp-rgt-number">5,36</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">2º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Reconocimiento <small>Mi remuneración es similar a la de otros cargos de igual responsabilidad del Grupo</small></div>
                            <div class="temp-rgt-number">5,62</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">3º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Satisfacción en el puesto de trabajo <small>Recibo una remuneración justa por el trabajo que realizo </small></div>
                            <div class="temp-rgt-number">5,74</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">4º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Comunicación <small>Conozco los nuevos proyectos, objetivos y avances del Grupo</small> </div>
                            <div class="temp-rgt-number">5,99</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="temp-list-box">
                        <div class="temp-col">5º</div>
                        <div class="temp-rght-col">
                            <div class="temp-text">Formación y desarrollo profesional <small>Si desempeño bien mi trabajo, existen posibilidades de promocionar en el Grupo</small> </div>
                            <div class="temp-rgt-number">6,08</div>
                        </div>
                    </div>
                </li>
                
            </ul>

        </div>
    </div>



</div>

{% endblock %}

