{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-20">
    <!-- <h1 class="page-20-title">{{ title }}</h1>
    <p>{{ content }}</p>
    <img src="{{ image_path }}" alt="" /> -->
    <div class="pgname-number pgname-numberalgn">
        <div class="pgname-number-box">7</div>
        <div class="pgname-number-title">Matriz importancia satisfacción
            <span class="pgname-sub-title">Fortalezas y Prioridades de mejora</span>
        </div>
    </div>

    <div class="pagewrap page-20">

        <div class="fortel_mwrp">
            <!-- .......green box starts............. -->
            <div class="fortel_box greenc">

                <div class="fortel_titlewrp">
                    FORTALEZAS
                    <span>Aspectos <strong> muy importantes</strong> para los empleados con <strong> mayor
                            satisfacción</strong></span>
                </div>

                <table class="fortel_tablebox">
                    <tr>
                        <th>Cod</th>
                        <th>Aspectos</th>
                        <th>Bloque</th>
                        <th>Media</th>
                        <th class="star-td">Import</th>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Mi superior muestra preocupación por los intereses y preocupaciones de su equipo
                        </td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">El grupo implanta medidas preventivas que garantizan condiciones de trabajo
                            seguras</td>
                        <td width="15%">Condiciones lugar trabajo</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Tengo claras mis tareas y responsabilidades</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Conozco los principios y valores en los que se basa el Grupo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Dispongo de los materiales y recursos necesarios para realizar mi trabajo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Se nos trata de una forma justa independ. de nuestro género, raza, orientación
                            sexual</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Ante un problema personal, el Grupo da facilidades para ausentarme en horario
                            laboral</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Las condiciones del lugar de trabajo son adecuadas (luz, espacio, comodidad…)
                        </td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Dispongo de la suficiente autonomía en mi trabajo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Hay buen ambiente y relación con los compañeros</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Mi superior es accesible y es fácil hablar con él</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>



                </table>

            </div>
            <!-- .......green box ends............. -->

            <!-- .......red box starts............. -->
            <div class="fortel_box redc">

                <div class="fortel_titlewrp">
                    PRIORIDADES DE MEJORA
                    <span>Aspectos <strong> muy importantes</strong> para los empleados con <strong> menor
                            satisfacción</strong></span>
                </div>

                <table class="fortel_tablebox">
                    <tr>
                        <th>Cod</th>
                        <th>Aspectos</th>
                        <th>Bloque</th>
                        <th>Media</th>
                        <th>Import</th>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Mi superior muestra preocupación por los intereses y preocupaciones de su equipo
                        </td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">El grupo implanta medidas preventivas que garantizan condiciones de trabajo
                            seguras</td>
                        <td width="15%">Condiciones lugar trabajo</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Tengo claras mis tareas y responsabilidades</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Conozco los principios y valores en los que se basa el Grupo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Dispongo de los materiales y recursos necesarios para realizar mi trabajo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Se nos trata de una forma justa independ. de nuestro género, raza, orientación
                            sexual</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Ante un problema personal, el Grupo da facilidades para ausentarme en horario
                            laboral</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Las condiciones del lugar de trabajo son adecuadas (luz, espacio, comodidad…)
                        </td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Dispongo de la suficiente autonomía en mi trabajo</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Hay buen ambiente y relación con los compañeros</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>

                    <tr>
                        <td width="10%">
                            <div class="fortel_greybox">SUP_3</div>
                        </td>
                        <td width="45%">Mi superior es accesible y es fácil hablar con él</td>
                        <td width="15%">Mi superior</td>
                        <td width="10%"><strong>7,28</strong></td>
                        <td class="star-td">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_purple.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                            <img src="static/images/star_grey.svg" alt="" class="fortel_reviewicon">
                        </td>
                    </tr>



                </table>

            </div>
            <!-- .......red box ends............. -->

        </div>



    </div>



</div>
{% endblock %}

