{% extends "pdfbase.html" %}
{% block content %}

<div class="pagewrap page-03">

    <div class="pgname-number">
        <div class="pgname-number-box">1</div>
        <span class="pgname-number-title">Ficha técnica</span>
    </div>

    <div class="page-03-main-row">

        <!-- page left box start -->
        <div class="page-03-left-box">
            <div class="page-03-left-box-row">
                <div class="page-03-lft-col-1">
                    <div class="pg-title">Metodología</div>
                    <ul class="page-ul-list">
                        <li>
                            <span class="s-dot"></span>
                            <span>Encuesta online realizada a empleados de <b>Cabify</b></span>
                        </li>
                        <li>
                            <span class="s-dot"></span>
                            <span><b>Canales de recogida:</b> Envío de e-mail y enlaces en dispositivos habilitados en centros de trabajo.</span>
                        </li>
                    </ul>
                </div>
                <div class="page-03-lft-col-2">
                    <div class="pg-title">Trabajo de campo</div>
                    <div class="calender-text">
                        <img src="static/images/calendar-icon.svg" />
                        <span>17 de octubre a 6 de noviembre de 2019</span>
                    </div>
                </div>
            </div>
            <div class="page-03-left-box-row">
                <div class="page-03-lft-col-full">
                    <div class="pg-title">Cuestionario</div>
                    <ul class="page-ul-list t2">
                        <li>
                            <span class="s-dot"></span>
                            <span>Pregunta de Recomendación</span>
                        </li>
                        <li>
                            <span class="s-dot"></span>
                            <span>Características asociadas a la compañía</span>
                        </li>
                        <li>
                            <span class="s-dot"></span>
                            <span>Evaluación aspectos. Escala:</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-03-left-box-row  row-03">
                <div class="page-03-lft-col-1">
                    <ul class="page-03-color-ul">
                        <li class="red">1. Totalmente en desacuerdo</li>
                        <li class="red">2. Desacuerdo</li>
                        <li class="yellow">3. Ni de acuerdo ni desacuerdo</li>
                        <li class="green">4. Deacuerdo</li>
                        <li class="green">5. Totalmente deacuerdo</li>
                    </ul>
                </div>
                <div class="page-03-lft-col-2">
                    <div class="note-text">
                        En el informe se detalla la distribución de frecuencias en porcentaje y la media de cada ítem evaluado. La media se muestra elevada a escala 1-10 (Media x 2).
                    </div>
                </div>
            </div>
        </div>
        <!-- page left box ended -->

        <!-- page right box start -->
         <div class="page-03-right-box">
            <div class="pg-title">Universo y Muestra</div>
            <div class="page-03-user-box-row">
                <div class="page-03-user-box-1 left">
                    <div class="user-box-icon-title">
                        <img src="static/images/multiple-users-icon-01.svg" class="user-box-icon-title-icon" />
                        <span>UNIVERSO</span>
                    </div>
                    <div class="user-box-cont">
                        <div class="user-box-cont-number">2.389</div>
                        <div class="user-box-cont-txt">Nº de empleados</div>
                    </div>
                </div>
                <div class="page-03-user-box-1 right">
                    <div class="user-box-icon-title">
                        <img src="static/images/multiple-users-icon-02.svg" class="user-box-icon-title-icon" />
                        <span>MUESTRA</span>
                    </div>
                    <div class="user-box-cont">
                        <div class="user-box-cont-row">
                            <div class="user-box-cont-lft">
                                <div class="user-box-cont-number">1.579</div>
                                <div class="user-box-cont-txt">Han respondido la encuesta</div>
                            </div>
                            <div class="user-box-cont-rgt">
                                <div class="user-box-sm-row">
                                    <label>Emails</label>
                                    <div class="data">708</div>
                                </div>
                                <div class="user-box-sm-row">
                                    <label>Links</label>
                                    <div class="data">871</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="user-box-btm-gray-box">
                <span class="user-box-btm-gray-numbr">67%</span>
                <span>Tasa de respuesta</span>
            </div>
         </div>
        <!-- page right box ended -->
        
        
    </div>

</div>
{% endblock %}

