<html>
<head>
    <link rel='stylesheet' type='text/css' href='static/pdf-style.css' />
</head>
<body>
    <div class="pagewrap page-01">
        <img src="{{ image_path }}" class="intropage-logo" alt="Logo" />
        <h1 class="intropage-title">{{ title }}</h1>
        <span class="intropage-subtitle">{{ content }}</span>

        <div class="wrap footer spacebetween">
            <span class="footer-title">Junio 2024</span>
            <span class="footer-title text-bold">Clima</span>
        </div>
    </div>
</body>
</html>