
@page {
    size: 20in 11.25in;  /* Custom page size for 1920x1080 */
    margin: 0;           /* Optional: no margin for full-bleed */
}
/* @import url('https://fonts.googleapis.com/css2?family=Itim&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

:root{
    --purple: #35305C;
    --purpleLight: #7145D6;
    --purpleDark: #5F6488;
    --red: #F04438;
    --yellow: #FEC84B;
    --green: #12B76A;
    --grayLight: #FAFAFA;
}
*{ box-sizing: border-box; }
body { font-family: 'Helvetica', Arial, sans-serif; /* font-family: "Itim", cursive; */ background-color: #fff; color: var(--purpleDark); padding:44px 64px; position: relative; }
h1,h2,h3,h4,h5,h6{ padding: 0px; margin: 0px; font-family: 'Helvetica', Arial, sans-serif; line-height: 1.2; }
p { font-size: 12pt; color: black; }

.pdf-header{ width: 100%; display: inline-flex; justify-content: space-between; align-items: center; margin-bottom: 47px; }
.pdf-header-title{ color: var(--purpleDark); font-size: 23px; } 
.text-bold{ font-weight: 800; }

.box{ width: 200px; height: 200px; background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); display: inline-block; margin:0px 20px; }
.wrap{ width:100%; display:inline-flex; margin:0px -20px; }
.wrap.spacebetween{ justify-content: space-between; }

/* page number name css start */
.pgname-number{ width: auto; display: inline-flex; align-items: center; position: relative; margin-bottom: 58px; }
.pgname-number-box{ width: 44px; height: 44px; background-color: var(--purpleLight); display: inline-block; text-align: center; line-height: 44px; color: #fff; font-size: 23px; margin-right: 17px; }
.pgname-number-title{ color: #35305C; font-weight: 800; font-size: 35px; line-height: 1; }
.pg-title{ color: var(--purple); font-weight: 700; font-size: 24px; line-height: 1; margin-bottom:26px; }
.pgname-sub-title{ font-size: 28px; font-weight: 400; line-height: 1.2; display: block; color: var(--purple);}
.pgname-numberalgn{ align-items: flex-start;}
/* page number name css ended */

/* number list css start */
.number-list{ width: 100%; display: inline-flex; flex-direction: column; list-style-type: none; padding: 0px; margin: 0px; }
.number-list>li{ width: 100%; position: relative; color: var(--purple); font-size: 34px; padding-left: 50px; margin-bottom: 35px; line-height: 1; }
.number-box{ width: 34px; height: 34px; background-color: var(--purpleLight); display: inline-block; text-align: center; line-height: 34px; color: #fff; font-size: 18px; position: absolute; left: 0px; top: 0px; }
.number-list>li small{ font-size: 21px; }
/* number list css ended */

/* temp list css start */
.temp-list{ width: 100%; display: inline-flex; flex-direction: column; padding: 0px; margin: 0px; list-style-type:none; }
.temp-list>li{ width: 100%; position: relative; margin-bottom: 4px; }
.temp-list-box{ width: 100%; display: inline-flex; }
.temp-col{ width: 63px; height: 44px; background-color: var(--green); text-align: center; color: #fff; line-height: 44px; font-weight: 700; font-size: 30px; flex-shrink: 0; }
.temp-rght-col{ width: 93%; height: 44px; padding: 8px 13px; display: inline-flex; align-items: center; justify-content: space-between; background: linear-gradient(90deg, rgba(65, 206, 140, 0.2) 0%, rgba(65, 206, 140, 0) 100%);
}
.temp-text{ width: 636px; color: var(--purple); font-size: 18px; font-weight: 700; }
.temp-rgt-number{ font-size: 30px; font-weight: 400; color: var(--purple); }

.temp-list.type2 .temp-col{ width: 63px; height: 94px; line-height: 64px; }
.temp-list.type2 .temp-rght-col{ height: 94px; align-items: flex-start; }
.temp-list.type2 .temp-text small{ width: 100%; display: inline-block; font-size: 16px; font-weight: 400; padding-top: 5px; }
.temp-list.type2 .temp-rgt-number{ padding-top: 10px; }

.temp-list.red .temp-col{ background-color: #F36D64; }
.temp-list.red .temp-rght-col{ background: linear-gradient(90deg, rgba(243, 109, 100, 0.2) 0%, rgba(243, 109, 100, 0) 100%); }
/* temp list css ended */


/* header css start */
.header-logo{ width: 136px; }
/* header css ended */


/* intro page css start */
.intropage-logo{ margin-top: 200px; margin-bottom: 136px; }
.intropage-title{ color: var(--purple); font-size: 84px; font-weight: 700; line-height: 1.2; }
.intropage-subtitle{ color: var(--purple); font-size: 54px; font-weight: 300; line-height: 1.2; }
.page-01 .footer{ margin-top: 260px; }
.footer-title{ color: var(--purpleDark); font-size: 35px; } 
/* intro page css ended */

/* purple table css start */
.purple-table{ width: 555px; border: #DCDCDC solid 1px; }
.purple-table .col-1{ background-color: var(--purpleDark); }
.purple-table .col-2{ background-color: var(--purpleLight); }
/* purple table css ended */

/* template 2 css start */
.page-02{ padding: 50px 60px 0px; }
.page-02-title{ font-size: 111px; font-weight: 800; color: var(--purple); }
.page-02-left{ width: 300px; }
.page-02-right{ width: auto; display: inline-flex; flex-direction: column; padding-top: 100px; }
.page-02-right .number-list li{ width: 590px; }
/* template 2 css ended */


/* template 3 css start */
.page-ul-list{ width:100%; padding: 0px; margin: 0px 0px 50px 0px; list-style-type: none; }
.page-ul-list>li{ width: 100%; display: inline-block; padding-left: 30px; position: relative; color: var(--purpleDark); font-size: 22px; line-height: 30px; font-weight: 400; margin-bottom: 24px; }
.page-03 .page-ul-list>li{ width: 100%; display: inline-block; padding-left: 30px; position: relative; color: var(--purpleDark); font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 24px; }
.page-ul-list>li b{ font-weight: 700; }
.page-ul-list>li:last-child{ margin-bottom: 0px; }
.page-ul-list>li .s-dot{ width:16px; height:16px; background-color: var(--purpleLight); position: absolute; left: 0px; top: 4px; }
.page-ul-list.t2{ margin-bottom: 24px; }
.page-ul-list.t2 li{ margin-bottom: 14px; }
.page-ul-list.t2 li:last-child{ margin-bottom: 0px; }

.page-03-main-row{ width: 1770px; display: inline-flex; justify-content: space-between; }
.page-03-left-box{ width:861px; padding: 71px 65px; background: linear-gradient(89.59deg, rgba(20, 20, 20, 0.02) 21.97%, rgba(122, 122, 122, 0) 94.73%); }
.page-03-left-box-row{ width: 730px; display: inline-flex; }
.page-03-lft-col-1{ width: 343px; margin-right: 60px; }
.page-03-lft-col-1 .page-ul-list{ width: 334px; }
.page-03-lft-col-2{ width: 294px; }
.page-03-lft-col-full{ width: 730px; }

.page-03-color-ul{ width: 343px; margin: 0px 0px 0px 0px; padding: 0px; }
.page-03-color-ul>li{ width: 100%; display: inline-block; padding:0px 10px; font-size: 18px; line-height: 32px; font-weight: 700; color: #000; border-left: 4px solid #000; }
.page-03-color-ul>li.red{ color: var(--red); border-color: var(--red); }
.page-03-color-ul>li.yellow{ color: var(--yellow); border-color: var(--yellow); }
.page-03-color-ul>li.green{ color: var(--green); border-color: var(--green); }
.row-03{ margin-top: 24px; }

.calender-text{ width: 100%; display: inline-flex; font-size: 18px; line-height: 24px; font-weight: 400; }
.calender-text>img{ width: 24px; height: 24px; margin-right: 10px; }

.note-text{ width: 100%; display: inline-flex; font-size: 18px; line-height: 24px; font-weight: 400; font-style: italic; }
.note-text>img{ width: 24px; height: 24px; margin-right: 10px; }


.page-03-right-box{ width:756px; padding: 55px 0px 0px 0px; }
.page-03-user-box-row{ width:756px; display: inline-flex; justify-content: space-between; }
.page-03-user-box-1{ width: 370px; }
.user-box-icon-title{ width: 370px; display: inline-flex; align-items: center; padding: 18px 0px; border-bottom: var(--purpleLight) solid 4px; font-size: 20px; line-height: 36px; font-weight: 700; color: var(--purple); }
.page-03-user-box-1{ width: 370px; min-height: 100px; }
.user-box-icon-title-icon{ width: 57px; height: 56px; margin-right: 22px; }
.user-box-cont{ width: 100%; display: inline-flex; flex-direction: column; padding: 34px 19px; height:152px; background-color: var(--grayLight); }
.user-box-cont-number{ color: var(--purple); font-size: 49px; font-weight: 700; line-height: 48px; }
.user-box-cont-txt{ font-size: 18px; line-height: 22px; font-weight: 400; color: var(--purple); }
.user-box-cont-row{ width: 100%; display: inline-flex; justify-content: space-between; }
.user-box-cont-lft{ width: 220px; display: inline-flex; flex-direction: column; }
.user-box-cont-rgt{ width: 150px; display: inline-flex; flex-direction: column; }
.user-box-sm-row{ width: 150px; display: inline-flex; font-size: 16px; font-weight: 27px; color: var(--purple); }
.user-box-sm-row>label{ width: 70px; padding: 5px 0px; font-weight: 400; }
.user-box-sm-row>.data{ width: 70px; padding: 5px 0px; font-weight: 700; }
.user-box-btm-gray-box{ width: 100%; height: 325px; background-color: #FAFAFA; display: inline-flex; flex-direction: column; align-items: center; justify-content: center; color: var(--purpleDark); font-size: 22px; line-height: 36px; font-weight: 400; margin-top: 16px; }
.user-box-btm-gray-numbr{ color: var(--purple); font-size: 94px; font-weight: 700; line-height: 115px; }
/* template 3 css ended */


/* template 4 css start */
.table{ width: 100%; border-collapse: collapse; border-bottom: #DCDCDC solid 1px; border-right: #DCDCDC solid 1px; }
.table th:last-child, .table td:last-child{ border-right: #DCDCDC solid 1px; }
.table.gap{ margin-top: 60px; }
.tbl-hd-tp{ height: 48px; padding: 19px 0px; font-size: 16px; font-weight: 700; text-align: center; }
.tbl-hd-title-col{ width: 220px; border-left: #DCDCDC solid 1px; border-top: #DCDCDC solid 1px; font-size: 18px; line-height: 21px;font-weight: 700; color: var(--purple); padding: 23px 24px; text-align: left; }
.tbl-hd-title-col>div{ width:100%; display: inline-flex; align-items: center; }
.tbl-hd-title-col img{ margin-right: 10px; }
.tbl-hd-tp-col-1{ background-color: var(--purpleDark); color: #fff; border-right: #fff solid 1px; border-bottom: var(--purpleDark) solid 1px; }
.tbl-hd-tp-col-2{ background-color: var(--purpleLight); color: #fff; }
.tbl-hd-gray-col{ padding: 15px 10px; background-color: #DBDBDB; color: var(--purpleDark); font-size: 14px; font-weight: 700; border-right: #fff solid 1px; font-weight: 700; }
.tbl-hd-color-col{ padding: 15px 10px; background-color: rgba(113, 69, 214, 0.2); color: var(--purpleDark); font-size: 14px; font-weight: 700; border-right: #fff solid 1px; font-weight: 700; }
.tbl-gray-td{ background: #FAFAFA; color: var(--purpleDark); font-size: 16px; line-height: 19px; border-right: #fff solid 1px; padding: 5px 10px; text-align: center; }
.tbl-purple-td{ background: rgba(113, 69, 214, 0.1); color: var(--purpleDark); font-size: 16px; line-height: 16px; border-right: #fff solid 1px; padding: 5px 10px; text-align: center; }
.tbl-title-col{ color: var(--purpleDark); font-size: 16px; line-height: 16px; border-left: #DCDCDC solid 1px; border-right: #DCDCDC solid 1px; padding: 5px 24px; }

.table-row{ width: 1770px; display: inline-flex; justify-content: space-between; }
.table-col{ width: 548px; }
.page-04{ padding-bottom: 100px; }
.page-04 .page-note p{font-size: 18px; font-weight: 700; line-height: 24px; text-align: left; color: var(--purpleDark); margin-top: 0px; margin-bottom: 0px;}
.page-04 .page-note span{font-weight: 400;}
.page-04 .page-note {position: absolute; bottom: 64px; left: 64px;}
/* template 4 css ended */

/* template 5 css start */
.page-05{ padding-bottom: 100px; }
.page-05 .page-note p{font-size: 18px; font-weight: 700; line-height: 24px; text-align: left; color: var(--purpleDark); margin-top: 0px; margin-bottom: 0px;}
.page-05 .page-note span{font-weight: 400;}
.page-05 .page-note {position: absolute; bottom: 64px; left: 64px;}
/* template 5 css ended */


/* template 6 css start */
.page-ul-list.pg-06{ width: 718px; }
.pg-06-note{ color: var(--purpleDark); font-size: 18px; line-height: 24px; font-weight: 400; }
.page-06 .page-note {position: absolute; bottom: 34px; left: 128px;}
.page-06-graph{ margin-top: -100px; margin-left: -160px; }
.pg-06-row{ width: 1770px; display: inline-flex; padding: 0px 64px; }
/* template 6 css ended */

/* template 7 css start */
.pg-07-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 60px; }
.pg-07-col{ width: 795px; position: relative; }
.page-ul-list.pg-07{ margin: 0px; }
.pg-07-ul{ width: 100%; display: inline-block; padding: 0px; margin: 20px 0px 20px 20px; list-style-type:disc; }
.pg-07-ul li{ width: 100%; margin-bottom: 3px; }
.pg-07-ul li:last-child{ margin-bottom: 0px; }
.pg-07-emoji-group-img{ width: 100%; margin: 24px 0px 34px; }
.pg-07-lft-row{ width: 100%; padding-left: 30px; }
.nps-text{ width: 100%; font-size: 22px; font-weight: 700; line-height: 1; color: #0C0C0C; display: flex; align-items: flex-start; margin-bottom: 22px; }
.green-text{ color: #41CE8C; margin: 0px 5px; }
.red-text{ color: #F36D64; margin: 0px 5px; }
.nps-para{ width: 100%; color: var(--purpleDark); font-size: 22px; line-height: 32px; }
.pg-07-purple-box{ width: 100%; padding: 35px 62px; background-color: rgba(113, 69, 214, 0.1); color: var(--purpleDark); font-size: 22px; font-weight: 400; line-height: 30px; font-style: italic; margin-top: 56px; }
/* template 7 css ended */


/* template 8 css start */
.pg-08-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 60px; }
.pg-08-col{ width: 795px; position: relative; }
.pg-08-sctn{ width: 100%; display: inline-flex; }
.justify-end{ justify-content: flex-end; }
.pg-08-lft-purple-box{ width: 375px; padding: 24px; background-color: rgba(113, 69, 214, 0.1); color: var(--purpleDark); font-size: 22px; font-weight: 400; line-height: 30px; font-style: italic; margin-bottom: 13px;  }
.pg-08-lft-img{ width: 463px; }
.pg-08-counter-row{ width: 100%; display: inline-flex; justify-content: space-between; margin-top: 40px; }
.pg-08-counter-box{ width: 235px; text-align: center; margin-bottom: 100px; }
.pg-08-big-counter{ width: 100%; font-size: 96px; font-weight: 700; padding-bottom: 25px; color: var(--red); line-height: 1; }
.pg-08-box-cntr{ width: 100%; padding: 0px 0px 30px; border-top: var(--red) solid 1px; border-bottom: var(--red) solid 1px; }
.pg-08-box-ftr{ width: 100%; padding-top: 30px; font-size: 24px; font-weight: 700; color: var(--red); }
.pg-08-box-cntr-text{ width: 100%; color: var(--purpleDark); font-size: 22px; line-height: 30px; font-weight: 700; margin-top: 18px;  }

.pg-08-counter-box.yellow .pg-08-big-counter{ color: var(--yellow); }
.pg-08-counter-box.yellow .pg-08-box-cntr{ border-top: var(--yellow) solid 1px; border-bottom: var(--yellow) solid 1px; }
.pg-08-counter-box.yellow .pg-08-box-ftr{ color: var(--yellow); }

.pg-08-counter-box.green .pg-08-big-counter{ color: var(--green); }
.pg-08-counter-box.green .pg-08-box-cntr{ border-top: var(--green) solid 1px; border-bottom: var(--green) solid 1px; }
.pg-08-counter-box.green .pg-08-box-ftr{ color: var(--green); }
.pg-08-purple-box{ width: 100%; padding: 25px 62px; background-color: rgba(113, 69, 214, 0.1); color: var(--purpleDark); font-size: 22px; font-weight: 400; line-height: 30px; font-style: italic; }
/* template 8 css ended */


/* template 9 css start */
.pg-09-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 0px; }
.pg-09-col{ width: 795px; position: relative; }
.pg-09-col.left{ padding-top: 120px; }
.pg-09-graph-row{ width: 100%; display: inline-flex; }
.pg-09-graph-col{ width: 474px; text-align: center; }
.pg-09-graph-col>img{ width: 326px; }
.pg-09-graph-value-col{ width: 220px; }
.pg-09-value-list{ width: 100%; padding: 0px; margin: 0px; list-style-type: none; }
.pg-09-value-list>li{ width: 100%; margin-bottom: 33px; }
.pg-09-emoji-box{ width: 100%; display: inline-flex; align-items: center; }
.pg-09-emoji-icn-col{ width: 96px; }
.pg-09-emoji-icn-col>img{ width: 95px; }
.pg-09-emoji-cnt-col{ flex: 1; display: inline-flex; flex-direction: column; }
.pg-09-emoji-hdng{ font-size: 44px; font-weight: 700; line-height: 1; color: var(--red); }
.pg-09-emoji-subhdng{ font-size: 18px; font-weight: 400; color: #000; line-height: 1; }
.pg-09-emoji-box.yellow .pg-09-emoji-hdng{ color: var(--yellow); }
.pg-09-emoji-box.green .pg-09-emoji-hdng{ color: var(--green); }
.page-09-graph-scale-box{ width: 802px; position: relative; display: flex; align-items: flex-start; margin-bottom: 88px; }
.graph-sgmnt{ flex: 1; height: 28px; background-color: var(--red); text-align: center; line-height: 28px; color: #0C0C0C; font-weight: 700; position: relative; }
.graph-sgmnt.yellow{ background-color: var(--yellow); }
.graph-sgmnt.green{ background-color: var(--green); }
.graph-base-sgmnt{ width: 87px; height: 28px; background-color: #DDDDDD; text-align: center; line-height: 28px; color: #0C0C0C; font-weight: 700; position: relative; }
.graph-sgmnt-text{ width: 100%; position: absolute; top: 40px; left: 0px; font-size: 17px; font-weight: 400; color: 5,1%; }
.pg-09-purple-box{ width: 100%; background-color: rgba(113, 69, 214, 0.1); display: inline-block; text-align: center; padding: 52px 10px 13px; }
.pg-09-purple-box .nps-text{ justify-content: center; margin: 0px; }
.pg-09-count-box{ padding: 24px; border-radius: 20px; color: var(--purple); font-size: 48px; font-family: 400; line-height: 1; display: inline-block; background-color: #FFFFFF; margin: 23px auto; }
.pg-09-count-text{ color: var(--purpleDark); font-size: 22px; line-height: 30px; }
/* template 9 css ended */


/* Page 10 css start */
.pagination-style02{margin-bottom: 36px; width:591px}
.promo-block{max-width: 864px; margin-bottom: 26px;}
.promo-content{ padding: 13px 24px 12px 24px; }
.promo-content-success{background: linear-gradient(90deg, rgba(65, 206, 140, 0.15) 0%, rgba(65, 206, 140, 0) 100%); border-left: 8px solid #41CE8C;}
.promo-title{font-size: 22px; font-weight: 700; line-height: 1.2; text-align: left; color: #35305C;}
.promo-text{font-size: 18px; font-weight: 400; line-height: 1.2; text-align: left; color: #35305C; margin: 0;}
.row-group2{display: flex; margin: 0 -32px;}
.row-group2 .custom-col{flex: 1; width: 800px; padding: 0 32px;}
.comments-table{width: 100%; border-spacing: 0px;}
.comments-table td{padding: 4px 8px; font-size: 16px; font-weight: 400; line-height: 30px; text-align: left; vertical-align: top;}
.comments-table tr:nth-child(even) td{background-color: #fff;}
.comments-table tr:nth-child(odd) td{background-color: #F7F7F7;}
.badge{width: 53px; height: 30px; border-radius: 80px; color: #fff; font-size: 16px; font-weight: 700; line-height: 30px; text-align: center; display: inline-block;}
.text-right, .comments-table td.text-right{text-align: right;}
.badge-success{background-color: #41CE8C;}
.badge-white{background-color: transparent; color: #5F6488; font-weight: 400;}
.right-col{margin-top: -162px; display: flex; flex-direction: column;}
.comments-box{position: relative; width: 487px;}
.comments-box + .comments-box{margin-top: 24px;}
.comments-boxes_block{padding-top: 32px; margin-bottom: 100px;}
.comments-box_content{padding: 11px 15px 12px 15px; border-radius: 3px; border: 1px solid #D7D7D7; position: relative;}
.comments-box_content p{font-size: 16px; font-style: italic; font-weight: 400; line-height: 23px; text-align: left; color: #5F6488; margin: 0;}
.angle-block { position: absolute; bottom: -22px; left: 17px;}
.comment-avatar_block{width: 64px; height: 64px; border-radius: 100%; background-color: #EFF1F5; display: flex; align-items: center; justify-content: center; position: absolute;
    bottom: -100px; left: 0;}
.avatar-img{max-width: 36px;}
.comments-box_right{margin-top: 24px; margin-left: auto;}
.comments-box_right .angle-block {left: inherit; right: 17px;}
.comments-box_right .comment-avatar_block{left: inherit; right: 0;}
.promo-note_block{padding-top: 30px; margin-top: auto;}
.promo-note{padding: 10px 26.5px; background-color: #41CE8C1A;}
.promo-note_text{font-size: 18px; font-style: italic; font-weight: 400; line-height: 30px; text-align: left; margin: 0;}
.promo-note-success strong{color: #41CE8C;}
.comments-count_text{font-size: 16px; font-weight: 400; line-height: 30px; text-align: left; color: #5F6488; margin: 0;}
.comments-counter{display: inline-block; padding-top: 13px;}
/* page 10 css end */

/* page 11 css start */
.promo-content-warning{background: linear-gradient(90deg, rgba(254, 200, 75, 0.15) 0%, rgba(254, 200, 75, 0) 100%); border-left: 8px solid #FEC84B;}
.page-11 .angle-block{bottom: -18px;}
.promo-note-warning{background: #FEC84B1A;}
.promo-note-warning strong{color: #FEC84B;}
.badge-warning{background-color: #FEC84B;}
/* page 11 css end */

/* page 12 css start */
.promo-content-danger{background: linear-gradient(90deg, rgba(243, 109, 100, 0.15) 0%, rgba(243, 109, 100, 0) 51.5%); border-left: 8px solid #F36D64;}
.badge-danger{background-color: #F36D64;}
.promo-note-danger{background: #F36D641A;}
.promo-note-danger strong{color: #F36D64;}
/* page 12 css end */

/* template 13 css start */
.pg-13-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 0px; }
.pg-13-col{ width: 795px; position: relative; }
.pg-13-temp-note{ width: 100%; text-align: right; color: var(--purpleDark); font-size: 22px; font-weight: 400; line-height: 1; margin-top: 20px; }
.pg-13-btm-note{ width: 100%; color: var(--purpleDark); font-size: 16px; font-weight: 400; line-height: 21px; margin-top: 10px; }
.page-ul-list.pg-13{ margin-bottom: 59px; }
.promedio-box{ width: 100%; display: inline-flex; padding: 39px 37px; }
.promedio-lft-col{ width: 467px; padding-left: 30px; }
.promedio-hero-text-row{ width: 100%; display: inline-flex; align-items: center; }
.promedio-hero-text{ color: var(--purple); font-size: 123px; font-weight: 700; line-height: 1; }
.promedio-hero-subtext{ margin-left: 30px; color: var(--purple); font-weight: 700; font-size: 22px; line-height: 36px; white-space: nowrap; }
.promedio-avater{ margin-top: 40px; }
.promedio-sm-count-line{ width: 275px; height: 1px;  background: linear-gradient(90deg, #5F6488 0%, rgba(95, 100, 136, 0) 100%); margin: 30px 0px 15px; }
.promedio-sm-count-row{ width: 100%; font-size: 22px; font-weight: 400; color: var(--purple); line-height: 1; }
.promedio-sm-count-row span{ margin-right: 10px; font-weight: 700; }
/* template 13 css ended */


/* template 14 css start */
.pg-14-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 0px; }
.pg-14-col{ width: 795px; position: relative; }
.temp-para{ width: 100%; height: 140px; font-size: 22px; font-weight: 400; line-height: 30px; margin-bottom: 40px; }
.page-14 .green-text{ margin: 0px; }
.page-14 .red-text{ margin: 0px; }
.temp-hdng{ width: 100%; display: inline-flex; align-items: center; color: var(--purple); font-size: 24px; font-weight: 700; margin-bottom: 20px; }
.temp-hdng > img{ width: 38px; margin-right: 14px; }
/* template 14 css ended */

/* template 15 css start */
.pg-15-row{ width: 1770px; display: inline-flex; padding: 0px 64px; justify-content: space-between; margin-top: 0px; }
.pg-15-left-col{ width: 1032px; position: relative; }
.pg-15-right-col{ width: 564px; position: relative; }
.prgress-table-wrap{ width: 100%; height: 586px; position: relative; }
.prgress-row-list{ width: 100%; display: inline-block; position: relative; padding: 0px; margin: 0px; list-style-type: none; }
.prgress-row-list>li{ width: 100%; display: inline-block; position: relative; }
.prgress-row-box{ width: 100%; display: inline-flex; padding: 26px 0px; border-bottom: rgba(90, 90, 90, 0.15) solid 1px; }
.prgress-row-title-col{ width:369px; overflow: hidden; height: 39px; margin-right: 30px; color: var(--purple); font-size: 16px; line-height: 1.2;  }
.prgress-scale{ width: 529px; display: inline-flex; position: relative; }
.prgress-block{ min-width: 8%; height:41px; display: inline-flex; line-height: 41px; color: var(--purple); font-size: 16px; font-weight: 700; text-align: center; background: #D9D9D9; }
.prgress-block.green{ background-color: #41CE8C; }
.prgress-block.lightgreen{ background-color: #A0E7C5; }
.prgress-block.yellow{ background-color: rgba(254, 200, 75, 0.5); }
.prgress-block.red{ background-color: #F36D64; }
.prgress-block.lightred{ background-color: #F9B6B1; }
.prgress-total{ width: 88px; height: 41px; border-radius: 10px; border: var(--purple) solid 1px; line-height: 41px; color: var(--purple); font-size: 16px; font-weight: 700; text-align: center; margin-left: 15px; margin-left: auto; }
.tamplate15-graph{ position: absolute; top: 11px; right: 85px; }
.bargraph-legend{ width: 100%; display: inline-flex; position: relative; justify-content: space-between; margin-top: 25px; }
.bargraph-col{ display: inline-flex; align-items: center; color: var(--purpleDark); font-size: 16px; font-weight: 400; line-height: 1; }
.bargraph-box{ width:19px; height: 19px; background: #D9D9D9; margin-right: 8px; }
.bargraph-box.green{ background-color: #41CE8C; }
.bargraph-box.lightgreen{ background-color: #A0E7C5; }
.bargraph-box.yellow{ background-color: rgba(254, 200, 75, 0.5); }
.bargraph-box.red{ background-color: #F36D64; }
.bargraph-box.lightred{ background-color: #F9B6B1; }
.superior-hdng{ width: 100%; font-size: 20px; font-weight: 700; color: var(--purple); line-height: 36px; padding-bottom: 11px; border-bottom: var(--purpleLight) solid 4px; }

.promedio-box2{ width: 100%; display: inline-flex; padding: 33px 18px; justify-content: space-between; margin-bottom: 15px; }
.promedio-box2-lft-col{ width: 240px; }
.promedio-hero-text-row2{ width: 100%; display: inline-flex; align-items: center; padding-left: 10px; }
.promedio-hero-text2{ color: var(--purple); font-size: 93px; font-weight: 700; line-height: 1; }
.promedio-hero-subtext2{ color: var(--purple); font-weight: 700; font-size: 22px; line-height: 36px; white-space: nowrap; }
.promedio-avater2{ margin-top: 0px; width: 170px; }
.promedio-sm-count-row2{ width: 100%; font-size: 22px; font-weight: 400; color: var(--purpleDark); line-height: 36px; margin-top: 5px; padding-left: 10px; }
.promedio-sm-count-row2 span{ margin-right: 10px; font-weight: 700; }
/* template 15 css ended */


/* template 17 css start */
.pg-17-row{ width: 1756px; display: inline-flex; padding: 0px 0px 0px 64px; justify-content: space-between; margin-top: 0px; }
.pg-17-left-col{ width: 1215px; position: relative; }
.note-white-box{ width: 100%; background-color: #fff; padding: 24px; font-size: 18px; line-height: 30px; color: var(--purple); font-weight: 400; font-style: italic; margin-bottom: 34px; }
.pg-17-heading{ width: 100%; display: inline-block; font-size: 28px; color: var(--purple); line-height: 1.2; font-weight: 700; margin-bottom: 108px; }
.pg-17-avater-row{ width: 100%; display: inline-flex; justify-content: space-between; }
.pg-17-avater-col{ width: 350px; height: 350px; display: flex; flex-direction: column; justify-content: space-between; }
.pg-17-avater-pop{ width: 350px; position: relative; background-color: #EDEDED; border-radius: 20px; padding: 24px; line-height: 37px; font-size: 22px; font-weight: 400; color: var(--purple); }
.pg-17-avater-pop-arrow{ position: absolute; top: 50%; right: -23px; transform: translateY(-50%); }
.pg-17-avater-pop.right .pg-17-avater-pop-arrow{ left: -23px; right: auto; }
.pg-17-mid-avater{ width: 349px; }
.pg-17-avater-bottom-row{ width: 100%; display: inline-flex; justify-content: center; margin-top: 77px; }
.pg-17-avater-pop.bottom .pg-17-avater-pop-arrow{ left: 50%; right: auto; transform: translate(-50%,0%); top: -23px; }
/* template 17 css ended */


/* template 18 css start */
.priorid_mwrp { display: flex; justify-content: space-between; }
.priorid_arrowbox { display: flex; padding-right: 20px; }
.importica_arrow { width: 24px; height: 100%; }
.impoticatextcont { width: 24px; height: 100%; text-align: center; display: flex; align-items: center; justify-content: center; position: relative; }
.impoticatext { color: var(--purple); text-align: center; font-size: 20px; font-weight: 700; text-transform: uppercase; line-height: 1.2; transform: rotate(-90deg); margin: 0; padding: 0; white-space: nowrap; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg); }
.impoticatextcont1 { width: 24px; height: 100%;  text-align: center; display: flex; align-items: center; justify-content: center; position: relative; }
.impoticatext1 {color: var(--purpleDark); text-align: center; font-size: 20px; font-weight: 400;line-height: 1.2; transform: rotate(-90deg); margin: 0; padding: 0; white-space: nowrap; -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); }
.priorid_fortbox{ border:1px solid #CCCCCC; width:49%; height: 287px; margin: 0 22px 18px 0; padding: 24px; /*display: inline-block;*/ float: left; }
.priorid_fortbox:nth-child(even){ margin-right: 0px; }
.priorid_fortbox_text{ color:var(--purpleDark); padding: 0 0 15px 0; margin: 0; font-size: 18px; color:var(--purpleDark); line-height: 1.2;}
.priorid_fortbox_title{ font-size: 28px; font-weight: 700; padding: 0 0 35px 0;}
.priorid_midbox{ /*width: 60%;*/ padding-right: 20px; flex: 1;} 
.priorid_fortbox p:last-child{ padding-bottom: 0px;}
.priorid_midboxinercont{ display: inline-block; width: 1125px;}
.pririd_red{ color:#F36D64}
.pririd_redlight{ color:#F9B6B1}
.pririd_gren{ color:#41CE8C}
.pririd_grenlight{ color:#A0E7C5}
.nota_greywrp{ width: 436px; background: linear-gradient(180deg, rgba(237,237,237,1) 56%, rgba(255,255,255,1) 80%); padding: 44px 34px;}
.notatitle{ font-size: 24px; font-weight: 700; color:var(--purpleDark) ; padding: 0 0 30px 0;}
.notatext{ color:var(--purpleDark); padding: 0 0 30px 0; font-size: 22px; font-weight: 400; margin: 0; line-height: 36px;}
.notatext:last-child{ padding-bottom: 0px; }
.importica_arrowhoriz img { width: 96%; height: 24px; }
.impoticatextconthoriz { text-align: center; display: flex; justify-content: center; position: relative; }
.impoticatexthoriz { color: var(--purple); text-align: center; font-size: 20px; font-weight: 700; text-transform: uppercase; line-height: 1.2; padding: 0; margin: 0; }
.impoticatextcont1horiz { text-align: center; display: flex; justify-content: center; position: relative; }
.impoticatext1horiz { color: var(--purpleDark); text-align: center; font-size: 20px; font-weight: 400; line-height: 1.2; margin: 0; padding: 0; }
.priorcontbox_wrp, .priorid_contcont{ display: flex;}
/* template 18 css ended */


/* template 19 css start */

/* template 19 css ended */
  
/* template 20 css start */
.fortel_mwrp { display: flex; }
.greenc .fortel_titlewrp { border-left: 8px solid var(--green); background: linear-gradient(90deg, rgba(65, 206, 140, 0.15) 0%, rgba(255, 255, 255, 1) 100%); padding: 13px 24px; font-size: 22px; font-weight: 700; color: #35305C; margin-bottom: 15px; }
.redc .fortel_titlewrp { border-left: 8px solid var(--red); background: linear-gradient(90deg, rgba(240, 68, 56, 0.15) 26%, rgba(255, 255, 255, 1) 57%); padding: 13px 24px; font-size: 22px; font-weight: 700; color: #35305C; margin-bottom: 15px; }
.fortel_titlewrp { padding: 13px 24px; font-size: 22px; font-weight: 700; color: #35305C; margin-bottom: 15px; text-transform: uppercase; }
.fortel_titlewrp span { font-size: 18px; font-weight: 400; color: #35305C; display: block; text-transform: none; }
.fortel_box { width: 50%; }
.fortel_tablebox { border-collapse: collapse; width: 93%; }
.fortel_tablebox td { border: 0px solid #B9C0D4; text-align: left; font-size: 14px; font-weight: 400; color: #5F6488; line-height: 1.2; padding: 10px 10px; word-wrap: break-word; white-space: normal; }
.fortel_tablebox th { border: 0px solid #B9C0D4; text-align: left; font-size: 16px; font-weight: 700; color: #fff; line-height: 1.2; padding: 10px 10px; }
.fortel_tablebox tr:nth-child(even) { background-color: #f7f7f7; }
.greenc .fortel_tablebox th { background-color: var(--green); }
.redc .fortel_tablebox th { background-color: var(--red); }
.fortel_greybox { background-color: #E4E4E4; font-size: 12px; font-weight: 700; color: #000; line-height: 1.2; border-radius: 100px; padding: 10px; display: inline-block; }
.fortel_reviewicon { width: 19px; height: 19px; }
.star-td{ width: 150px; }
/* template 20 css ended */
  
/* template 21 css ended */
.greenlc .fortel_titlewrp {border-left: 8px solid #A0E7C5; background: linear-gradient(90deg, rgba(160, 231, 197, 0.3) 0%, rgba(255, 255, 255, 1) 100%); padding: 13px 24px; font-size: 22px;font-weight: 700; color: #35305C; margin-bottom: 15px; }
.redlc .fortel_titlewrp { border-left: 8px solid #F9B6B1; background: linear-gradient(90deg, rgba(249, 182, 177, 0.3) 26%, rgba(255, 255, 255, 1) 57%); padding: 13px 24px; font-size: 22px; font-weight: 700; color: #35305C; margin-bottom: 15px; }
.greenlc .fortel_tablebox th { background-color: #A0E7C5; color: #35305C; }
.redlc .fortel_tablebox th { background-color: #F9B6B1; color: #35305C; }
/* template 21 css ended */


/* template 22 css start */
.conclusiones-text{ width: 100%; text-align: center; justify-content: center; align-items: center; color: var(--purple); line-height: 1.2; font-size: 54px; font-weight: 300; padding-top: 270px; }
/* template 22 css ended */


















