.amplyfywrp{ display: flex; justify-content: space-between; gap:30px 20px}
.amplyfywrpbox{ width: 19%; border:1px solid var(--bordercolor); border-radius: 0 0 var(--border-round) 0; padding: 45px 30px;}
.amplyfywrpbox h4{ font-size: 22px; font-weight: 500; margin: 20px 0 20px 0; padding: 0; }

@media (max-width:1600px){
    .amplyfywrpbox{ padding: 35px 20px;}
}

@media (max-width:1440px){
    .amplyfywrpbox{ padding: 35px 20px; width: 32%;  }  
    .amplyfywrp{  flex-wrap: wrap; justify-content: flex-start;}

}
@media (max-width:1200px){
.amplyfywrp{  flex-wrap: wrap;}
.amplyfywrpbox{ width: 48%;}
}
/* 767px */
@media (max-width:767px){
    .amplyfywrp{  flex-wrap: wrap; }
    .amplyfywrpbox{ width: 100%;}
}