*{
 box-sizing: border-box;   
}
button:disabled{
    pointer-events: none;
}
.todo-app-page{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px 0px 0px 0px;
}
*:focus-visible{
    outline: none;
}

.simple-todo-full-box{
    width: 435px;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 0px auto;
}
.todo-form-section{
    width: 100%;
    display: inline-flex;
    position: relative;
    padding: 15px;
    align-items: center;
    gap: 10px;
}
.todo-form-section> form{
    width: 100%;
    display: inline-flex;
    position: relative;
    gap: 10px;
}
.todo-form-section input{
    height: 40px; 
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: #dbdbdb solid 1px;
}
.todo-form-section button{
    width: auto;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    border: #dbdbdb solid 1px;
    cursor: pointer;
}
.todo-list-section{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    padding:0px 15px 15px 15px;
    align-items: center;
}
.todo-box{
    width: 100%;
    padding:10px;
    position: relative;
    background: #d1e8fd;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}
.todo-box.completed{
    background: #dbdbdb;
}
.todo-box.completed input[type="text"]{
    text-decoration: line-through;
    pointer-events: none;
}
.todo-box input[type="text"]{
    padding: 5px 10px;
    background: transparent;
    border: none;
    border-radius: 5px;
}
.todo-box input[type="text"].editable{
    border: #7a7a7a solid 1px;
    background: #ffffff;
}
.todo-btn-section{
    margin-left: auto;
}
.todo-btn-section button{
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: #dbdbdb solid 1px;
    padding: 5px 10px;
    cursor: pointer;
}