:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.section_01{ width: 100%; height: 900px; background-color: #747373; position: relative; padding: 70px 30px; }
.section_02{ width: 100%; /*min-height: 1200px;*/ position: relative; padding: 70px 30px; }
.animate_frame{ width: 45%; height: 0px; display: inline-block; position: relative; border-radius: 14px; overflow: hidden; background-color: gray; transition: all ease-out 1s; transition-delay: .5s; margin:0px 30px 60px; }
.animate_frame.frame_height{ height: 350px; }
.animate_frame>img{ width: 100%; height: 100% !important; min-height: 350px; object-fit: cover; position: relative; }


.section_03{ width: 100%; height: 100%; background: #c0c0c0; position: relative; padding: 70px 30px; }
.left_section{ width: 49%; display: inline-block; padding: 0px 30px; background: rgb(247, 247, 191); position: relative; }
.scroll_stiky_section{ width: 49%; display: inline-block; padding: 0px 30px; background: rgb(184, 255, 175); position: relative; }

.accro_group{ width: 100%; display: flex; flex-direction: column; }
.accro_row{ width: 100%; display: block; position: relative; }
.accro_hd{ width: 100%; min-height: 30px; padding: 15px; background: #c0c0c0; border: #171717 solid 1px; }
.accro_body{ width: 100%; transition: all ease-out 0.5s; overflow: hidden; position: relative; }
.accro_body_inner{ width: 100%; display: inline-block; padding: 15px; border: #171717 solid 1px; background: #fff; }
.accro_group .accro_row:first-child .accro_body{ height: 100px; }
.accro_group .accro_row:not(:first-child) .accro_body, 
.accro_group .accro_row.collaps .accro_body{ height: 0px; }
.accro_group .accro_row.active .accro_body{ height: 86px; }

